@page "/ShiftsPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">Shifts</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">Manage & Maintain Shifts</MudText>
                    </div>
                </div>
                <hr />
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                    
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Shift Name</label>
                        <MudTextField id="ShiftName" @bind-Value="record.ShiftName" placeholder="Shift Name" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.ShiftName)" />
                    </div>
                    <div class="row"></div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Start Time</label>
                        <MudTimePicker Placeholder="Start Time" AmPm="true" @bind-Time="StartTime" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">End Time</label>
                        <MudTimePicker Placeholder="Start Time" AmPm="true" @bind-Time="EndTime" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Flexi Time (Minutes)</label>
                        <MudNumericField @bind-Value="record.FlexiTime" placeholder="FlexiTime" ReadOnly="@isReadOnly" Format="#,##0.00"></MudNumericField>
                        <ValidationMessage For="@(() => record.FlexiTime)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Active</label>

                        <MudSelect T="int"
                                   @bind-Value="record.IsActive"
                                   Placeholder="Active"
                                   Clearable="true">

                            @if (record.IsActive != 0 && record.IsActive != 1)
                            {
                                record.IsActive = 1;
                            }

                            <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                            <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.IsActive)" />
                    </div>

                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    ShiftsModel record = new();
    List<OrganizationsModel> Org = new();

    public TimeSpan? StartTime { get; set; }
    public TimeSpan? EndTime { get; set; }

    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;

        if (Action == "INSERT")
        {
            record = new ShiftsModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action == "UPDATE")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action == "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;

        record = await Functions.GetAsync<ShiftsModel>($"Shifts/Get/{id}", true) ?? new ShiftsModel();
        StartTime = TimeSpan.Parse(record.StartTime);
        EndTime = TimeSpan.Parse(record.EndTime);

        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        if (Org != null && Org.Any() && record.OrganizationId == 0)
            record.OrganizationId = Org.First().Id;


        StateHasChanged();
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new ShiftsModel();
        record.IsActive = 1;
        isReadOnly = false;
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;
        record.StartTime = StartTime.ToString();
        record.EndTime = EndTime.ToString();
        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<ShiftsModel>($"Shifts/{url}", record, true);
        if (result.Success == false)
        {
            SnackbarService.Add($"Record Not Saved", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record {Action} Successfully", Severity.Success);
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawerAsync();

    }
}

