@page "/ChartOfAccountsPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton  OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px; width: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton  Color="Color.Error" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">Chart of Accounts</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">Manage & Maintain Chart of Accounts</MudText>
                    </div>
                </div>
                <hr />
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Code</label>
                        <MudTextField id="Code" @bind-Value="record.Code"  placeholder="Code" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Code)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Name</label>
                        <MudTextField id="Name" @bind-Value="record.Name"  placeholder="Name" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Name)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Nature</label>

                         <MudSelect T="string"
                                   @bind-Value="record.Type"
                                   Placeholder="Nature"
                                   Clearable="true">

                            <MudSelectItem T="string" Value=@("ASSET")>ASSET</MudSelectItem>
                            <MudSelectItem T="string" Value=@("LIABILITY")>LIABILITY</MudSelectItem>
                            <MudSelectItem T="string" Value=@("EXPENSE")>EXPENSE</MudSelectItem>
                            <MudSelectItem T="string" Value=@("REVENUE")>REVENUE</MudSelectItem>
                            <MudSelectItem T="string" Value=@("EQUITY")>EQUITY</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.Type)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Interface</label>

                        <MudSelect T="string"
                                   @bind-Value="record.InterfaceType"
                                   Placeholder="Interface Type"
                                   Clearable="true">

                            @if (Int != null && Int.Any())
                            {
                                if (string.IsNullOrWhiteSpace(record.InterfaceType))
                                {
                                    record.InterfaceType = Int.First().ListValue;
                                }

                                foreach (var i in Int)
                                {
                                    <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                                }
                            }
                        </MudSelect>

                        <ValidationMessage For="@(() => record.InterfaceType)" />
                    </div>
                    <div class="col-12 flex-input">
                        <label class="form-label" style="font-weight: bold;">Description</label>

                        <MudTextField id="Description" @bind-Value="record.Description" placeholder="Description" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Description)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Parent Account</label>

                        <MudSelect @bind-Value="record.ParentId"
                                   Placeholder="Parent Account"
                                   Clearable="true">

                            @if (Par != null && Par.Any())
                            {
                                foreach (var i in Par)
                                {
                                    <MudSelectItem T="int" Value="@i.Id">@i.Name</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.ParentId)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Opening Balance</label>

                        <MudNumericField @bind-Value="record.OpeningBalance"  placeholder="Opening Balance" ReadOnly="@isReadOnly" Format="#,##0.00"></MudNumericField>
                        <ValidationMessage For="@(() => record.OpeningBalance)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Active</label>


                        <MudSelect T="int"
                                   @bind-Value="record.IsActive"
                                   Placeholder="Active"
                                   Clearable="true">

                            @if (record.IsActive != 0 && record.IsActive != 1)
                            {
                                record.IsActive = 1;
                            }

                            <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                            <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.IsActive)" />
                    </div>

                </div>

               

            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    ChartOfAccountsModel record = new();
    List<OrganizationsModel> Org = new();
    List<TypeCodeModel> Int = null!;
    List<ChartOfAccountsModel> Par = new();


    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Int = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/INTERFACE TYPE", true) ?? new List<TypeCodeModel>();
        Par = await Functions.GetAsync<List<ChartOfAccountsModel>>($"ChartOfAccounts/Search", true) ?? new List<ChartOfAccountsModel>();

        if (Action == "INSERT")
        {
            record = new ChartOfAccountsModel();
            
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action != "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action != "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<ChartOfAccountsModel>($"ChartOfAccounts/Get?Id={id}", true) ?? new ChartOfAccountsModel();
        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        if (Org != null && Org.Any() && record.OrganizationId == 0)
            record.OrganizationId = Org.First().Id;
        if (Par != null && Par.Any() && record.ParentId == 0)
            record.ParentId = Par.First().Id;


        StateHasChanged();
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new ChartOfAccountsModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<ChartOfAccountsModel>($"ChartOfAccounts/{url}", record, true);
        if (result.Success == false)
        {
            await Functions.ShowMessage(dialogService, "error", $"Record Not Saved");
        }
        else
        {
            await Functions.ShowMessage(dialogService, "success", $"Record {Action} Successfully");
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }

 
}

