@page "/BillDashboard"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="row" style="margin: 2px; height: 90vh; display: flex;">

    @if (data == null)
    {
        <SimpleLoading />
    }
    else
    {
        <div class="row">
            <MudDataGrid T="BillModel" MultiSelection="false" Items="@data" SortMode="SortMode.Multiple" Filterable="true" Hideable="true" RowsPerPage="10" Dense="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Bill</MudText>
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.TwoTone.Add" Size="MudBlazor.Size.Small" OnClick="@(() => Clear())" />
                    <MudIconButton Icon="@Icons.Material.TwoTone.Refresh" Size="MudBlazor.Size.Small" OnClick="@(() => GetAll())" />
                    <MudIconButton Icon="@Icons.Material.TwoTone.Search" Size="MudBlazor.Size.Small" OnClick="@(() => GetAll())" />
                    <MudDateRangePicker @bind-DateRange="_dateRange"
                                        AutoClose="true"
                                        Variant="Variant.Text"
                                        Margin="Margin.Dense"
                                        DateFormat="dd.MMMM.yyyy"
                                        TitleDateFormat="dd MMMM"
                                        Modal="false"
                                        Style="width:320px;"
                                        PlaceholderStart="Start Date"
                                        PlaceholderEnd="End Date"
                                        MinDate=@(Globals.Organization.CreatedOn)
                                        MaxDate=@(Globals.Organization.Expiry) />
                </ToolBarContent>

                <Columns>
                    <TemplateColumn Title="Actions" CellStyle="width: 160px; min-width: 160px;">
                        <CellTemplate Context="row">
                            <MudIconButton Icon="@Icons.Material.TwoTone.Search" Size="MudBlazor.Size.Small" OnClick="@(() => View(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.TwoTone.Edit" Size="MudBlazor.Size.Small" OnClick="@(() => Edit(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.TwoTone.DeleteSweep" Size="MudBlazor.Size.Small" OnClick="@(() => Delete(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.TwoTone.Print" Size="MudBlazor.Size.Small" OnClick="@(() => Print(row.Item.Id))" />
                        </CellTemplate>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.SeqNo" Title="Bill#" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.TranDate" Title="Tranaction Date" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.BillType" Title="Bill Type" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.Source" Title="Source" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.PartyName" Title="Customer" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.PaymentMethod" Title="Payment Method" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.PaymentRef" Title="Payment Ref" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.Status" Title="Status" Sortable="true" Filterable="true" />

                </Columns>

                <PagerContent>
                    <MudDataGridPager T="BillModel" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
</div>

@code
{
    static List<BillModel> data = new();
    static BillModel record = new();

    public string Action { get; set; } = "INSERT";

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    private DateRange _dateRange { get; set; } = new DateRange(DateTime.Now.Date, DateTime.Now.AddDays(5).Date);

    private void OnValueChanged(PickerVariant variant)
    {
        _dateRange = null;
    }

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        var formattedStartDate = _dateRange.Start?.ToString("yyyy-MM-dd") ?? string.Empty;
        var formattedEndDate = _dateRange.End?.ToString("yyyy-MM-dd") ?? string.Empty;


        string criteria = string.Empty;

        LoadingPanel = true;

        if (Globals.User.GroupId != 1)
        {
            criteria = $" AND LocationId = {Globals.User.LocationId}";
        }

        // Ensure proper SQL formatting and avoid unnecessary string interpolation
        if (!string.IsNullOrEmpty(formattedStartDate) && !string.IsNullOrEmpty(formattedEndDate))
        {
            criteria = $"CAST(TranDate AS DATE) >= '{formattedStartDate}' AND CAST(TranDate AS DATE) <= '{formattedEndDate}' {criteria}";
        }

        // Fetch data asynchronously with proper null handling
        data = await Functions.GetAsync<List<BillModel>>($"Bill/Search/{criteria}", true) ?? new List<BillModel>();

        LoadingPanel = false;

        await InvokeAsync(StateHasChanged);
    }


    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<BillModel>($"Bill/Get?Id={id}", true) ?? new BillModel();
        LoadingPanel = false;
    }

    protected async Task Clear()
    {
        record = new BillModel();
        isReadOnly = false;
        NewBill("INSERT", 0);
    }

    protected async Task Refresh()
    {
        data = await Functions.GetAsync<List<BillModel>>($"Bill/Search", true) ?? new List<BillModel>();
    }

    protected async Task View(int id)
    {
        await Get(id);
        isReadOnly = true;
        NewBill("VIEW", id);
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        isReadOnly = false;
        NewBill("UPDATE", id);
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Get(id);
        await Save();
    }

    protected async Task Print(int id)
    {
        var url = $"/BillReport/{id}";
        JSRuntime.InvokeVoidAsync("open", url, "_blank");
    }

    protected void NewBill(string Action, int Id)
    {
        var url = $"/BillPage/{Action}/{Id}";
        JSRuntime.InvokeVoidAsync("open", url, "_blank");
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        var result = await Functions.PostAsync<BillModel>($"Bill/{Action}", record, true);
        if (result.Success == true)
        {
            SnackbarService.Add($"Record Not Deleted", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record Deleted Successfully", Severity.Success);
            record = new();
            isReadOnly = true;
        }

        data = await Functions.GetAsync<List<BillModel>>($"Bill/Search", true) ?? new List<BillModel>();
        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }

}

