@page "/BillReport/{ServingSize:int}/{id:int}"
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@layout BlankLayout

@if (BillHeader != null && BillDetails.Any())
{
    <div class="invoice-actions no-print">
        <button class="btn btn-primary" @onclick="PrintReport">Print</button>
    </div>

    <div class="invoice-container">
        <!-- Header -->
        <div class="invoice-header text-center">
            <div class="row">
                <div class="col-md-2">
                    <img src="@Globals.Organization.Logo" class="company-logo" style="width: 60px; height:60px;" />
                </div>
                <div class="col-md-8">
                    <h1 style="font-size:18px;">@Globals.Organization.Name</h1>
                    <h3 style="font-size:14px;">@Globals.Organization.Description</h3>
                </div>
            </div>
            <div class="row">
                <p>
                    <h2>@(BillHeader.BillType == "QUOTATION" ? "Q U O T A T I O N" : "B I L L")</h2>
                </p>
            </div>
        </div>

        <!-- Customer Info -->
        <div class="row mt-4">
            <div class="col-sm-6">
                <p><strong>Customer:</strong> @BillHeader.Party</p>
                <p><strong>Name:</strong> @BillHeader.PartyName</p>
                <p><strong>Phone:</strong> @BillHeader.PartyPhone</p>
                <p><strong>Email:</strong> @BillHeader.PartyEmail</p>
            </div>
            <div class="col-sm-6">
                <p><strong>Bill No:</strong> @BillHeader.SeqNo</p>
                <p><strong>Bill Type:</strong> @BillHeader.BillType</p>
                <p><strong>Date:</strong> @BillHeader.TranDate.ToString("dd-MMM-yyyy hh:mm:ss tt")</p>
                <p><strong>Purchase From:</strong> @BillHeader.LocationName</p>
            </div>
            <p><strong>Address:</strong> @BillHeader.PartyAddress</p>
        </div>

        <!-- Details Table -->
        <table class="table table-bordered invoice-table">
            <thead>
                <tr>
                    <th class="text-left">Item Name</th>
                    <th class="text-left">
                        @if (ServingSize == 1)
                        {
                            <p>ServingSize</p>
                        }
                    </th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Discount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in BillDetails)
                {
                    <tr class="table-row-hover">
                        @if (@item.StockCondition != "NEW")
                        {
                            <td class="text-left">@item.ItemName @item.StockCondition</td>
                        }
                        else
                        {
                            <td class="text-left">@item.ItemName</td>
                        }

                        <td class="text-left">
                            @if (ServingSize == 1)
                            {

                                @item.ServingSize
                            }
                        </td>
                        <td class="text-right">@item.Qty.ToString("N2")</td>
                        <td class="text-right">@item.UnitPrice.ToString("N2")</td>
                        <td class="text-right">@item.ItemDiscount.ToString("N2")</td>
                        <td class="text-right">@item.Amount.ToString("N2")</td>
                    </tr>
                }

                <!-- Totals -->
                <tr>
                    <td colspan="5" class="text-right font-weight-bold">Billed Amount</td>
                    <td class="text-right font-weight-bold">@totalAmount.ToString("N2")</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right font-weight-bold">Discount</td>
                    <td class="text-right font-weight-bold">@BillHeader.DiscountAmount.ToString("N2")</td>
                </tr>
                <tr>
                    <td colspan="5" class="text-right font-weight-bold">Payment @BillHeader.PaymentMethod @BillHeader.PaymentRef</td>
                    <td class="text-right font-weight-bold">@BillHeader.PaymentAmount.ToString("N2")</td>
                </tr>
            </tbody>
        </table>

        @if (@BillHeader.PaymentAmount != 0)
        {
            <label>@Functions.ConvertMoneyToWords((decimal)BillHeader.PaymentAmount)</label>
        }
        <!-- Footer -->
        <div class="row">
            <div class="col-md-6 mt-4">
                <p><strong>Created By:</strong> @BillHeader.fullname</p>
                <p><strong>Created Date:</strong> @BillHeader.CreatedOn.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>
            <div class="col-md-6 mt-4">
                <p><strong>Print On:</strong> @DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}



@code {
    [Parameter] public int id { get; set; } = 0;
    [Parameter] public int ServingSize { get; set; } = 1;
    private decimal totalAmount;
    private DateTime currentDate = DateTime.Now;
    private string userFullName = "";
    private string htmlContent = "";
    private string pdfFileName = "BillReport.pdf";

    private List<BillReportModel> BillReportData = new();
    private BillReportModel? BillHeader;
    private List<BillReportModel> BillDetails = new();

    protected override async Task OnInitializedAsync()
    {
        var BillReportData = await Functions.GetAsync<List<BillReportModel>>($"Bill/GetBillReport?id={id}", true);
        if (BillReportData == null || BillReportData.Count == 0)
        {
            NavManager.NavigateTo("/not-found");
            return;
        }

        BillHeader = BillReportData.First(); // Master record
        BillDetails = BillReportData;        // All items share same header

        totalAmount = (decimal)BillDetails.Sum(x => x.Amount);
    }

    private async Task PrintReport()
    {
        await JSRuntime.InvokeVoidAsync("printInvoice");
    }
}


<style>
    .invoice-container {
        font-family: 'Roboto Condensed', sans-serif;
        margin: 20px auto;
        max-width: 900px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .invoice-header {
        margin-bottom: 20px;
    }

    .invoice-actions button {
        margin-left: 10px;
    }

    .invoice-table th, .invoice-table td {
        padding: 8px;
        text-align: right;
    }

    .invoice-table th {
        background-color: #f2f2f2;
    }

    .table-row-hover:hover {
        background-color: #f1f1f1;
    }

    .invoice-footer {
        border-top: 1px solid #ddd;
        padding-top: 10px;
    }

        .invoice-footer h4 {
            margin-bottom: 10px;
        }

    .invoice-table th.text-left,
    .invoice-table td.text-left {
    text-align: left !important;
    }

</style>

<script>
    function exportPdf() {
        const doc = new jsPDF();
        doc.text("Invoice Export Functionality", 10, 10);
        doc.save('invoice.pdf');
    }

    function printInvoice() {
        var invoiceContent = document.querySelector('.invoice-container').innerHTML;
        var originalContent = document.body.innerHTML;

        document.body.innerHTML = '<div>' + invoiceContent + '</div>';
        window.print();
        document.body.innerHTML = originalContent;
    }


</script>