@page "/BillReport/{id:int}"
@page "/BillReport/{ServingSize:int}/{id:int}"
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime
@layout BlankLayout

@if (BillsData?.Bill != null)
{
    <div class="invoice-actions no-print">
        <button class="btn btn-primary" @onclick="PrintReport">Print</button>
    </div>

    <div class="invoice-container">
        <!-- Header -->
        <div class="invoice-header text-center">
            <div class="row">
                <div class="col-md-2">
                    <img src="@Globals.Organization.Logo" class="company-logo" style="width: 60px; height:60px;" />
                </div>
                <div class="col-md-8">
                    <h1 style="font-size:18px;">@Globals.Organization.Name</h1>
                    <h3 style="font-size:14px;">@Globals.Organization.Description</h3>
                </div>
            </div>
            <div class="row">
                <h2>@(BillsData.Bill.InvoiceType == "QUOTATION" ? "Q U O T A T I O N" : BillsData.Bill.InvoiceType)</h2>
            </div>
        </div>

        <!-- Customer Info -->
        <div class="row mt-4">
            <div class="col-sm-6">
                <p><strong>Bill No:</strong> @BillsData.Bill.SeqNo</p>
                <p><strong>Bill Type:</strong> @BillsData.Bill.InvoiceType</p>
                <p><strong>Date:</strong> @BillsData.Bill.TranDate.ToString("dd-MMM-yyyy hh:mm:ss tt")</p>
                <p><strong>Location:</strong> @BillsData.Bill.Location</p>
            </div>
            <div class="col-sm-6">
                <p><strong>Party:</strong> @BillsData.Bill.PartyName</p>
                <p><strong>Phone:</strong> @BillsData.Bill.PartyPhone</p>
                <p><strong>Email:</strong> @BillsData.Bill.PartyEmail</p>
            </div>
            <p><strong>Address:</strong> @BillsData.Bill.PartyAddress</p>
        </div>

        <!-- Details Table -->
        <table class="table table-bordered invoice-table">
            <thead>
                <tr>
                    <th class="text-left">Sr.</th>
                    <th class="text-left">Item</th>
                    <th class="text-left">Feature</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>Discount</th>
                    <th>Tax</th>
                    <th>Total</th>
                </tr>
            </thead>
            @{
                // Declare upfront so they exist even if no charges
                decimal serviceCharge = 0;
                decimal taxAmount = 0;

                if (BillsData.BillCharges?.Any(x => x.ChargeCategory?.ToUpper() == "SERVICE") == true)
                {
                    serviceCharge = BillsData.BillCharges?.Where(x => x.ChargeCategory?.ToUpper() == "SERVICE").Sum(x => x.CalculatedAmount) ?? 0;
                }

                if (BillsData.BillCharges?.Any(x => x.ChargeCategory?.ToUpper() == "TAX") == true)
                {
                    taxAmount = BillsData.BillCharges?.Where(x => x.ChargeCategory?.ToUpper() == "TAX").Sum(x => x.CalculatedAmount) ?? 0;
                }

                var finalTotal = BillsData.Bill.SubTotalAmount + serviceCharge + taxAmount - BillsData.Bill.DiscountAmount;
            }

            <tbody>
                @{
                    int serial = 1;
                }

                @foreach (var item in BillsData.BillDetails)
                {
                    <tr class="table-row-hover">
                        <td class="text-left">@serial</td>
                        <td class="text-left">@item.ItemName.ToUpper() @item.StockCondition.ToUpper()</td>
                        <td class="text-left">@item.ServingSize</td>
                        <td class="text-right">@item.Qty.ToString("N2")</td>
                        <td class="text-right">@item.UnitPrice.ToString("N2")</td>
                        <td class="text-right">@item.DiscountAmount.ToString("N2")</td>
                        <td class="text-right">@item.TaxAmount.ToString("N2")</td>
                        <td class="text-right">@item.ItemTotalAmount.ToString("N2")</td>
                    </tr>

                    serial++;
                }

                <tr>
                    <td colspan="7" class="text-right font-weight-bold">Subtotal</td>
                    <td class="text-right font-weight-bold">@BillsData.Bill.SubTotalAmount.ToString("N2")</td>
                </tr>

                @if (serviceCharge > 0)
                {
                    <tr>
                        <td colspan="7" class="text-right font-weight-bold">Service Charges</td>
                        <td class="text-right font-weight-bold">@serviceCharge.ToString("N2")</td>
                    </tr>
                }

                @if (taxAmount > 0)
                {
                    <tr>
                        <td colspan="7" class="text-right font-weight-bold">Tax</td>
                        <td class="text-right font-weight-bold">@taxAmount.ToString("N2")</td>
                    </tr>
                }

                @if (BillsData.Bill.DiscountAmount != 0)
                {
                    <tr>
                        <td colspan="7" class="text-right font-weight-bold">Discount</td>
                        <td class="text-right font-weight-bold">@BillsData.Bill.DiscountAmount.ToString("N2")</td>
                    </tr>
                }

                <tr>
                    <td colspan="7" class="text-right font-weight-bold">Total</td>
                    <td class="text-right font-weight-bold">@finalTotal.ToString("N2")</td>
                </tr>

                <tr>
                    <td colspan="7" class="text-right font-weight-bold">Paid</td>
                    <td class="text-right font-weight-bold">@BillsData.Bill.TotalPaidAmount.ToString("N2")</td>
                </tr>

                @if (BillsData.Bill.BalanceAmount != 0)
                {
                    <tr>
                        <td colspan="7" class="text-right font-weight-bold">Balance</td>
                        <td class="text-right font-weight-bold">@BillsData.Bill.BalanceAmount.ToString("N2")</td>
                    </tr>
                }
            </tbody>
        </table>
            
        <!-- Charges/Taxes Section -->
        <div class="row mt-4">
            @if(BillsData.BillCharges.Count > 0)
            {
                <div class="col-md-6">
                    <h5>Service Charges / Taxes</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-left">Particulars</th>
                                <th class="text-end">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var charge in BillsData.BillCharges.OrderBy(c => c.SequenceOrder))
                            {
                                <tr>
                                    <td class="text-left font-weight-bold">@charge.RuleName</td>
                                    <td class ="text-end">@charge.CalculatedAmount.ToString("N2")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            <!-- Paid / Balance Section -->
            @if (BillsData.BillPayments.Count > 0)
            {
                <div class="col-md-6">
                    <h5>Payment Details</h5>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-left">Particulars</th>
                                <th class="text-end">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var payment in BillsData.BillPayments)
                            {
                                <tr>
                                    <td class="text-left font-weight-bold">
                                        @payment.PaymentMethod
                                        @if (!string.IsNullOrWhiteSpace(payment.PaymentRef))
                                        {
                                            <text> (@payment.PaymentRef)</text>
                                        }
                                    </td>
                                    <td class="text-end">
                                        @payment.AmountPaid.ToString("N2")
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (BillsData.Bill.TotalPaidAmount > 0)
                    {
                        <p class="mt-2"><strong>@Functions.ConvertMoneyToWords(BillsData.Bill.TotalPaidAmount)</strong></p>
                    }
                </div>
            }

        </div>

        <!-- Footer -->
        <div class="row">
            <div class="col-md-6 mt-4">
                <p><strong>Created By:</strong> @BillsData.Bill.UserName</p>
                <p><strong>Created Date:</strong> @BillsData.Bill.CreatedOn.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>
            <div class="col-md-6 mt-4">
                <p><strong>Print On:</strong> @DateTime.Now.ToString("dd-MMM-yyyy HH:mm:ss")</p>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading...</p>
}


@code {
    [Parameter] public int id { get; set; }
    [Parameter] public int ServingSize { get; set; } = 1;

    private BillsModel? BillsData;

    protected override async Task OnInitializedAsync()
    {
        BillsData = await Functions.GetAsync<BillsModel>($"Bill/Get?id={id}", true);
        if (BillsData != null)
            BillsData = Globals.BillGridTotals(BillsData);
    }


    private async Task PrintReport()
    {
        await JSRuntime.InvokeVoidAsync("printInvoice");
    }
}


<style>
    .invoice-container {
        font-family: 'Roboto Condensed', sans-serif;
        margin: 20px auto;
        max-width: 900px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background-color: #f9f9f9;
    }

    .invoice-header {
        margin-bottom: 20px;
    }

    .invoice-actions button {
        margin-left: 10px;
    }

    .invoice-table th, .invoice-table td {
        padding: 8px;
        text-align: right;
    }

    .invoice-table th {
        background-color: #f2f2f2;
    }

    .table-row-hover:hover {
        background-color: #f1f1f1;
    }

    .invoice-footer {
        border-top: 1px solid #ddd;
        padding-top: 10px;
    }

        .invoice-footer h4 {
            margin-bottom: 10px;
        }

    .invoice-table th.text-left,
    .invoice-table td.text-left {
    text-align: left !important;
    }

</style>

<script>
    function exportPdf() {
        const doc = new jsPDF();
        doc.text("Invoice Export Functionality", 10, 10);
        doc.save('invoice.pdf');
    }

    function printInvoice() {
        var invoiceContent = document.querySelector('.invoice-container').innerHTML;
        var originalContent = document.body.innerHTML;

        document.body.innerHTML = '<div>' + invoiceContent + '</div>';
        window.print();
        document.body.innerHTML = originalContent;
    }


</script>