@page "/AttendanceDetailReport"
@using System.Text
@inject IJSRuntime js

<MudPaper Class="pa-4">


    <!-- Main Table -->
    @if (GroupedData != null && GroupedData.Any())
    {
        @foreach (var dateGroup in GroupedData)
        {
            <MudCard Class="mb-4 elevation-2">
                <MudCardContent>
                    <!-- Date Header -->
                    <div class="d-flex align-center justify-content-between mb-3">
                        <div class="d-flex align-center">
                            <MudIcon Icon="@Icons.Material.Filled.CalendarToday" Color="Color.Primary" Class="mr-2" />
                            <MudText Typo="Typo.h6" Class="font-weight-bold primary--text">
                                @dateGroup.Key.ToString("dddd, dd MMM yyyy")
                            </MudText>
                        </div>

                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Success"
                                   StartIcon="@Icons.Material.Filled.Download"
                                   OnClick="DownloadExcel"
                                   Size="Size.Small">
                            Export to CSV
                        </MudButton>
                    </div>


                    @foreach (var shiftGroup in dateGroup.Value)
                    {
                        <div class="mb-4">
                            <!-- Shift Header -->
                            <div class="d-flex align-center mb-2">
                                <MudIcon Icon="@Icons.Material.Filled.Schedule" Color="Color.Secondary" Class="mr-2" />
                                <MudText Typo="Typo.subtitle1" Class="font-weight-medium secondary--text">
                                    Shift: @shiftGroup.Key
                                </MudText>
                            </div>

                            <!-- MudTable with Filters -->
                            <MudTable Items="@shiftGroup.Value" 
                                      Hover="true" 
                                      Dense="true" 
                                      Bordered="true"
                                      Striped="true"
                                      Elevation="1"
                                      Class="attendance-table"
                                      Filter="new Func<DailyAttendanceModel, bool>(FilterAttendance)">
                                <ToolBarContent>
                                    <MudText Typo="Typo.body2">@shiftGroup.Value.Count employees</MudText>
                                    <MudSpacer />
                                    <MudTextField @bind-Value="searchString" 
                                                  Placeholder="Search..." 
                                                  Adornment="Adornment.Start" 
                                                  AdornmentIcon="@Icons.Material.Filled.Search"
                                                  IconSize="Size.Small"
                                                  Class="mt-0" />
                                </ToolBarContent>
                                <ColGroup>
                                    <col style="width: 50px" />
                                    <col style="width: 250px" />
                                    <col style="width: 250px" />
                                    <col style="width: 150px" />
                                    <col style="width: 50px" />
                                    <col style="width: 50px" />
                                    <col style="width: 50px" />
                                    <col style="width: 50px" />
                                    <col style="width: 50px" />
                                    <col style="width: 50px" />
                                    <col style="width: 50px" />
                                    <col style="width: 50px" />
                                    <col style="width: 50px" />
                                </ColGroup>
                                <HeaderContent>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.EmpId)" 
                                                           InitialDirection="SortDirection.Ascending">
                                            Emp
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.Fullname)">
                                            Name
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.Department)">
                                            Department
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.Designation)">
                                            Designation
                                        </MudTableSortLabel>
                                    </MudTh>

                                    <!-- Arrival Section Header -->
@*                                     <MudTh Class="text-center arrival-header">
                                        <MudText Typo="Typo.caption" Color="Color.Primary">Arrival</MudText>
                                    </MudTh> *@
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.ScheduledIn)">
                                            Scheduled
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.InTime)">
                                            Actual
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.InDiff)">
                                            Difference
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.ArrivalStatus)">
                                            Status
                                        </MudTableSortLabel>
                                    </MudTh>

                                    <!-- Leaving Section Header -->
@*                                     <MudTh Class="text-center leaving-header">
                                        <MudText Typo="Typo.caption" Color="Color.Primary">Leaving</MudText>
                                    </MudTh> *@
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.ScheduledOut)">
                                            Scheduled
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.OutTime)">
                                            Actual
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.OutDiff)">
                                            Difference
                                        </MudTableSortLabel>
                                    </MudTh>
                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.LeavingStatus)">
                                            Status
                                        </MudTableSortLabel>
                                    </MudTh>

                                    <MudTh>
                                        <MudTableSortLabel SortBy="new Func<DailyAttendanceModel, object>(x => x.DayCategory)">
                                            Day Type
                                        </MudTableSortLabel>
                                    </MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Emp ID">@context.EmpId</MudTd>
                                    <MudTd DataLabel="Name">
                                        <MudText Typo="Typo.body2" Class="font-weight-medium">@context.Fullname</MudText>
                                    </MudTd>
                                    <MudTd DataLabel="Department">@context.Department</MudTd>
                                    <MudTd DataLabel="Designation">@context.Designation</MudTd>

                                    <!-- Arrival Section -->
                                    <MudTd DataLabel="Arrival Scheduled">@context.ScheduledIn</MudTd>
                                    <MudTd DataLabel="Arrival Actual">
                                        <MudText Color="@GetArrivalColor(context.ArrivalStatus)" Typo="Typo.body2">
                                            @context.InTime
                                        </MudText>
                                    </MudTd>
                                    <MudTd DataLabel="Arrival Difference">
                                        @if (context.InDiff != "00:00")
                                        { 
                                            @context.InDiff
                                        }
                                    </MudTd>
                                    <MudTd DataLabel="Arriaval Status"
                                           Style=@($"background-color:{GetArrivalChipColor(context.ArrivalStatus)}; color:white; text-align:center;")>
                                        @context.ArrivalStatus
                                    </MudTd>

                                    <!-- Leaving Section -->
                                    <MudTd DataLabel="Leaving Scheduled">@context.ScheduledOut</MudTd>
                                    <MudTd DataLabel="Leaving Actual">
                                        <MudText Color="@GetLeavingColor(context.LeavingStatus)" Typo="Typo.body2">
                                            @context.OutTime
                                        </MudText>
                                    </MudTd>
                                    <MudTd DataLabel="Leaving Difference">
                                        @if (context.OutDiff != "00:00")
                                        {
                                            @context.OutDiff
                                        }
                                    </MudTd>
                                    <MudTd DataLabel="Leaving Status"
                                           Style=@($"background-color:{GetLeavingChipColor(context.LeavingStatus)}; color:white; text-align:center;")>
                                        @context.LeavingStatus
                                    </MudTd>

                                    <MudTd DataLabel="Day Type">
                                        @if (context.DayCategory == "WEEKEND")
                                        {
                                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="white--text">Weekend</MudChip>
                                        }
                                        else if (context.DayCategory == "HOLIDAY")
                                        {
                                            <MudChip T="string" Color="Color.Primary" Variant="Variant.Filled" Size="Size.Small" Class="white--text">Holiday</MudChip>
                                        }
                                        else if (context.DayCategory == "LEAVE")
                                        {
                                            <MudChip T="string" Color="Color.Warning" Variant="Variant.Filled" Size="Size.Small" Class="white--text">On Leave</MudChip>
                                        }
                                        else
                                        {
                                            <MudChip T="string" Color="Color.Success" Variant="Variant.Filled" Size="Size.Small" Class="white--text">Working Day</MudChip>
                                        }
                                    </MudTd>
                                </RowTemplate>
                                <PagerContent>
                                    <MudTablePager />
                                </PagerContent>
                            </MudTable>
                        </div>
                    }
                </MudCardContent>
            </MudCard>
        }
    }
    else
    {
        <MudPaper Class="pa-8 text-center">
            <MudIcon Icon="@Icons.Material.Filled.HourglassEmpty" Size="Size.Large" Color="Color.Secondary" Class="mb-3" />
            <MudText Typo="Typo.h6" Color="Color.Secondary">No attendance records found</MudText>
            <MudText Typo="Typo.body2" Color="Color.Secondary" Class="mt-2">
                No attendance records found for the selected period.
            </MudText>
        </MudPaper>
    }
</MudPaper>

@code {
    [Parameter] public List<DailyAttendanceModel>? Data { get; set; }

    private Dictionary<DateTime, Dictionary<string, List<DailyAttendanceModel>>>? GroupedData;
    private string searchString = "";

    private bool FilterAttendance(DailyAttendanceModel attendance)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;

        var search = searchString.ToLower();
        return (attendance.EmpId.ToString()?.ToLower().Contains(search) == true) ||
               (attendance.Fullname?.ToLower().Contains(search) == true) ||
               (attendance.Department?.ToLower().Contains(search) == true) ||
               (attendance.Designation?.ToLower().Contains(search) == true) ||
               (attendance.ArrivalStatus?.ToLower().Contains(search) == true) ||
               (attendance.LeavingStatus?.ToLower().Contains(search) == true) ||
               (attendance.DayCategory?.ToLower().Contains(search) == true);
    }

    private Color GetArrivalColor(string? status) => status switch
    {
        "LATE" => Color.Error,
        "ON TIME" => Color.Success,
        "ON LEAVE" => Color.Warning,
        "WEEKEND" => Color.Secondary,
        _ => Color.Default
    };

    private Color GetLeavingColor(string? status) => status switch
    {
        "BEFORE TIME" => Color.Warning,
        "ON TIME" => Color.Success,
        "ON LEAVE" => Color.Warning,
        "WEEKEND" => Color.Secondary,
        _ => Color.Default
    };

    private string GetArrivalChipColor(string? status) => status?.ToUpper() switch
    {
        "ON TIME" => "#28a745",         // Green
        "LATE" => "#ffc107",            // Yellow
        "ABSENT" => "#dc3545",          // Red
        "ON LEAVE" => "#17a2b8",        // Teal
        "WEEKEND" => "#007bff",         // Blue
        _ => "#6c757d"                  // Gray default
    };

    private string GetLeavingChipColor(string? status) => status?.ToUpper() switch
    {
        "ON TIME" => "#28a745",
        "BEFORE TIME" => "#ffc107",     // Orange
        "ABSENT" => "#dc3545",
        "ON LEAVE" => "#17a2b8",
        "WEEKEND" => "#007bff",
        "EXTRA TIME" => "#17A2B8",
        _ => "#6c757d"
    };


    protected override void OnParametersSet()
    {
        if (Data != null && Data.Any())
        {
            GroupedData = Data
                .Where(x => x.InDate != null)
                .GroupBy(x => x.InDate!.Value.Date)
                .OrderByDescending(g => g.Key)
                .ToDictionary(
                    g => g.Key,
                    g => g.GroupBy(x => x.ShiftName ?? "Unassigned Shift")
                          .ToDictionary(s => s.Key, s => s.ToList())
                );
        }
    }

    private string GetReportPeriod()
    {
        if (Data == null || !Data.Any())
            return "No data available";

        var dates = Data.Where(x => x.InDate.HasValue).Select(x => x.InDate.Value.Date).Distinct();
        if (!dates.Any())
            return "No date data available";

        var minDate = dates.Min();
        var maxDate = dates.Max();

        return minDate == maxDate ?
            minDate.ToString("dd MMM yyyy") :
            $"{minDate:dd MMM yyyy} - {maxDate:dd MMM yyyy}";
    }

    private async Task DownloadExcel()
    {
        if (Data == null || !Data.Any())
        {
            // You can show a snackbar or alert here
            Console.WriteLine("No data to export");
            return;
        }

        try
        {
            var csvContent = GenerateCsvContent();
            var fileName = $"Attendance_Report_{DateTime.Now:yyyyMMdd_HHmmss}.csv";

            await DownloadFile(csvContent, fileName);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error generating Excel file: {ex.Message}");
        }
    }

    private string GenerateCsvContent()
    {
        var csv = new StringBuilder();

        // Add header row with proper column names
        csv.AppendLine("Emp ID,Name,Department,Designation,Date,Scheduled Arrival,Actual Arrival,Time, Arrival Status, Scheduled Leaving,Actual Leaving,Leaving Variance,Leaving Status,Shift Name");

        // Add data rows
        if (Data != null)
        {
            foreach (var item in Data)
            {
                var row = new List<string>
                {
                    EscapeCsvField(item.EmpId.ToString() ?? ""),
                    EscapeCsvField(item.Fullname ?? ""),
                    EscapeCsvField(item.Department ?? ""),
                    EscapeCsvField(item.Designation ?? ""),
                    EscapeCsvField(item.InDate?.ToString("yyyy-MM-dd") ?? ""),
                    EscapeCsvField(item.ScheduledIn ?? ""),
                    EscapeCsvField(item.InTime ?? ""),
                    EscapeCsvField(item.InDiff ?? ""),
                    EscapeCsvField(item.ArrivalStatus ?? ""),
                    EscapeCsvField(item.ScheduledOut ?? ""),
                    EscapeCsvField(item.OutTime ?? ""),
                    EscapeCsvField(item.OutDiff ?? ""),
                    EscapeCsvField(item.LeavingStatus ?? ""),
                    EscapeCsvField(item.ShiftName ?? "")
                };

                csv.AppendLine(string.Join(",", row));
            }
        }

        return csv.ToString();
    }

    private string EscapeCsvField(string field)
    {
        if (string.IsNullOrEmpty(field))
            return "";

        // If field contains comma, quote, or newline, wrap in quotes and escape existing quotes
        if (field.Contains(",") || field.Contains("\"") || field.Contains("\r") || field.Contains("\n"))
        {
            return "\"" + field.Replace("\"", "\"\"") + "\"";
        }

        return field;
    }

    private async Task DownloadFile(string content, string fileName)
    {
        try
        {
            // Convert string to bytes
            var bytes = Encoding.UTF8.GetBytes(content);

            // Convert to base64
            var base64 = Convert.ToBase64String(bytes);

            // Call JavaScript function to download the file
            await js.InvokeVoidAsync("downloadFile", fileName, base64);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error in download: {ex.Message}");
        }
    }
}

<style>
    .attendance-table {
        font-size: 0.875rem;
    }

    .arrival-header, .leaving-header {
        border-left: 2px solid var(--mud-palette-primary);
        border-right: 2px solid var(--mud-palette-primary);
        background-color: rgba(var(--mud-palette-primary-rgb), 0.05);
    }

    .mud-table-cell {
        vertical-align: middle;
    }

    .mud-chip {
        min-width: 80px;
        justify-content: center;
    }

    /* Responsive adjustments */
    @@media (max-width: 1280px) {
        .attendance-table {
            font-size: 0.8rem;
        }
    }
</style>