@page "/ServiceChargesPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">
            <div class="row" style="width:100%; display: flex;">
                <div class="col-6 mb-3">
                    <MudTextField Label="ChargeName" id="ChargeName" @bind-Value="record.ChargeName" Variant="Variant.Filled" placeholder="ChargeName" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.ChargeName)" />
                </div>
                <div class="col-6 mb-3">

                    <MudSelect T="string"
                               @bind-Value="record.ChargeType"
                               Label="ChargeType"
                               Variant="Variant.Filled"
                               Dense="true"
                               Placeholder="ChargeType"
                               HelperText="Select ChargeType"
                               HelperTextOnFocus="true"
                               Clearable="true">

                        @if (Cha != null && Cha.Any())
                        {
                            if (string.IsNullOrWhiteSpace(record.ChargeType))
                            {
                                record.ChargeType = Cha.First().ListValue;
                            }

                            foreach (var i in Cha)
                            {
                                <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                            }
                        }
                    </MudSelect>

                    <ValidationMessage For="@(() => record.ChargeType)" />
                </div>
                <div class="col-6 mb-3">
                    <MudNumericField Label="Amount" @bind-Value="record.Amount" Variant="Variant.Filled" placeholder="Amount" ReadOnly="@isReadOnly" Format="#,##0.00"></MudNumericField>
                    <ValidationMessage For="@(() => record.Amount)" />
                </div>
                <div class="col-6 mb-3">
                    <MudSelect T="int?"
                               @bind-Value="record.AppliesTo"
                               Label="Applies To"
                               Variant="Variant.Filled"
                               Dense="true"
                               Placeholder="Applies To"
                               HelperText="Select Applies To"
                               HelperTextOnFocus="true"
                               Clearable="true">

                        <MudSelectItem T="int?" Value="@((int?)0)">ALL</MudSelectItem>

                        @if (cat?.Any() == true)
                        {
                            foreach (var i in cat)
                            {
                                <MudSelectItem T="int?" Value="@((int?)i.Id)">@i.Name</MudSelectItem>
                            }
                        }
                    </MudSelect>

                    <ValidationMessage For="@(() => record.AppliesTo)" />
                </div>

                <div class="col-6 mb-3">
                    <MudDatePicker Label="EffectiveFrom" @bind-Value="record.EffectiveFrom" Format="yyyy-MM-dd" Variant="Variant.Filled" placeholder="EffectiveFrom" ReadOnly="@isReadOnly"></MudDatePicker>
                    <ValidationMessage For="@(() => record.EffectiveFrom)" />
                </div>
                <div class="col-6 mb-3">
                    <MudDatePicker Label="EffectiveTo" @bind-Value="record.EffectiveTo" Format="yyyy-MM-dd" Variant="Variant.Filled" placeholder="EffectiveTo" ReadOnly="@isReadOnly"></MudDatePicker>
                    <ValidationMessage For="@(() => record.EffectiveTo)" />
                </div>
               
                <div class="col-6 mb-3">

                    <MudSelect T="int"
                               @bind-Value="record.IsActive"
                               Label="Active"
                               Variant="Variant.Filled"
                               Dense="true"
                               Placeholder="Active"
                               HelperText="Select Active"
                               HelperTextOnFocus="true"
                               Clearable="true">

                        @if (record.IsActive != 0 && record.IsActive != 1)
                        {
                            record.IsActive = 1;
                        }

                        <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                        <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                    </MudSelect>

                    <ValidationMessage For="@(() => record.IsActive)" />
                </div>
            </div>
        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    static ServiceChargesModel record = new();
    List<TypeCodeModel> Cha = null!;
    static List<CategoriesModel> cat = new();

    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Cha = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/CHARGES", true) ?? new List<TypeCodeModel>();
        cat = await Functions.GetAsync<List<CategoriesModel>>($"Categories/Search", true) ?? new List<CategoriesModel>();

        if (Action == "INSERT")
        {
            Clear();
            GetDefaultValues();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else
        {
            await Get(CurrentRecord);
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<ServiceChargesModel>($"ServiceCharges/Get?Id={id}", true) ?? new ServiceChargesModel();
        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        StateHasChanged();
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new ServiceChargesModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<ServiceChargesModel>($"ServiceCharges/{url}", record, true);
        if (result.Success == false)
        {
            SnackbarService.Add($"Record {Action} Fail.", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record {Action} Successfully", Severity.Success);
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }
}

