@page "/ServiceChargesDashboard"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="row" style="margin: 2px; height: 90vh; display: flex;">
    <MyDrawer @ref="_drawer" Title="ServiceCharges" FaIcon="fas fa-address-book">
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <ServiceChargesPage Action="@Action" CurrentRecord="record.Id" />
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    @if (data == null)
    {
        <SimpleLoading />
    }
    else
    {
        <div class="row">
            <MudDataGrid T="ServiceChargesModel" MultiSelection="false" Items="@data" SortMode="SortMode.Multiple" Filterable="true" Hideable="true" RowsPerPage="10" Dense="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">ServiceCharges Managment</MudText>
                    <MudSpacer />
                    <MudButton StartIcon="@Icons.Material.TwoTone.Add" Size="MudBlazor.Size.Small" Class="mx-1" Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => Clear())">New</MudButton>
                    <MudButton StartIcon="@Icons.Material.TwoTone.Refresh" Size="MudBlazor.Size.Small" Class="mx-1" Variant="Variant.Filled" Color="Color.Info" OnClick="@(() => Refresh())">Refresh</MudButton>
                </ToolBarContent>

                <Columns>
                    <TemplateColumn Title="Actions" CellStyle="width: 60px; min-width: 60px;">
                        <CellTemplate Context="row">
                            <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Dense="true">
                                <MudMenuItem OnClick="@(() => View(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.Search" Class="me-2" /> View
                                </MudMenuItem>
                                <MudMenuItem OnClick="@(() => Edit(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.Edit" Class="me-2" /> Edit
                                </MudMenuItem>
                                <MudMenuItem OnClick="@(() => Delete(row.Item.Id))" Color="Color.Error">
                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="me-2" /> Delete
                                </MudMenuItem>
                            </MudMenu>
                        </CellTemplate>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.ChargeName" Title="ChargeName" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.ChargeType" Title="ChargeType" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.EffectiveFrom" Title="EffectiveFrom" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.EffectiveTo" Title="EffectiveTo" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.CreatedOn" Title="CreatedOn" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.CreatedFrom" Title="CreatedFrom" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.UpdatedOn" Title="UpdatedOn" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.UpdatedFrom" Title="UpdatedFrom" Sortable="true" Filterable="true" />


                </Columns>

                <PagerContent>
                    <MudDataGridPager T="ServiceChargesModel" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
</div>

@code
{
    static List<ServiceChargesModel> data = new();
    static ServiceChargesModel record = new();

    public string Action { get; set; } = "INSERT";

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        data = await Functions.GetAsync<List<ServiceChargesModel>>($"ServiceCharges/Search", true) ?? new List<ServiceChargesModel>();
        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<ServiceChargesModel>($"ServiceCharges/Get/{id}", true) ?? new ServiceChargesModel();
        LoadingPanel = false;
    }

    protected async Task Clear()
    {
        Action = "INSERT";
        record = new ServiceChargesModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Refresh()
    {
        data = await Functions.GetAsync<List<ServiceChargesModel>>($"ServiceCharges/Search", true) ?? new List<ServiceChargesModel>();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Get(id);
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        var result = await Functions.PostAsync<ServiceChargesModel>($"ServiceCharges/{Action}", record, true);
        if (result.Success == false)
        {
            SnackbarService.Add($"Record Not Deleted", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record Deleted Successfully", Severity.Success);
            if (Action?.Contains("delete", StringComparison.OrdinalIgnoreCase) == false) await Edit(result.Result!.Id);
        }

        data = await Functions.GetAsync<List<ServiceChargesModel>>($"ServiceCharges/Search", true) ?? new List<ServiceChargesModel>();
        LoadingPanel = false;
        await _drawer.CloseDrawerAsync();

    }

}

