@page "/UsersPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px; width: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">
            <div class="row" style="width:100%; display: flex;">
                <div class="col-6 flex-input">
                    <label class="form-label" style="font-weight: bold;">Username</label>
                    <MudTextField id="Username" @bind-Value="record.Username" placeholder="User Name" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.Username)" />
                </div>
                <div class="col-6 flex-input">
                    <label class="form-label" style="font-weight: bold;">Password</label>
                    <MudTextField id="Password" @bind-Value="record.Password" placeholder="Password" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.Password)" />
                </div>
                <div class="col-6 flex-input">
                    <label class="form-label" style="font-weight: bold;">User Type</label>

                    <MudSelect T="string"
                               @bind-Value="record.UserType"
                               Placeholder="User Type"
                               Clearable="true">

                        @if (User != null && User.Any())
                        {
                            if (string.IsNullOrWhiteSpace(record.UserType))
                            {
                                record.UserType = User.First().ListValue;
                            }

                            foreach (var i in User)
                            {
                                <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                            }
                        }
                    </MudSelect>

                    <ValidationMessage For="@(() => record.UserType)" />
                    </div>
                <div class="col-6 flex-input">
                    <label class="form-label" style="font-weight: bold;">Initial Theme</label>

                        <MudSelect T="int"
                                    @bind-Value="record.DarKLightTheme"
                                    Placeholder="Theme"
                                    Clearable="true">

                        @if (record.DarKLightTheme != 0 && record.DarKLightTheme != 1)
                        {
                            record.DarKLightTheme = 1;
                        }

                        <MudSelectItem T="int" Value="1">DarK Theme</MudSelectItem>
                        <MudSelectItem T="int" Value="0">Light Theme</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.DarKLightTheme)" />
                    </div>
                <div class="col-6 flex-input">
                    <label class="form-label" style="font-weight: bold;">Linked Employee</label>

                    <MudSelect @bind-Value="record.EmpId"
                               Placeholder="Employee"
                               Clearable="true">

                        @if (Emp != null && Emp.Any())
                        {
                            if (record.EmpId == 0)
                            {
                                record.EmpId = Emp.First().Id;
                            }

                            foreach (var i in Emp)
                            {
                                <MudSelectItem T="int" Value="@i.Id">@i.Fullname</MudSelectItem>
                            }
                        }
                    </MudSelect>
                    <ValidationMessage For="@(() => record.EmpId)" />
                </div>
                <div class="col-6 flex-input">
                    <label class="form-label" style="font-weight: bold;">Group</label>

                    <MudSelect @bind-Value="record.GroupId"
                               Placeholder="Group"
                               Clearable="true">

                        @if (Gro != null && Gro.Any())
                        {
                            if (record.GroupId == 0)
                            {
                                record.GroupId = Gro.First().Id;
                            }

                            foreach (var i in Gro)
                            {
                                <MudSelectItem T="int" Value="@i.Id">@i.Name</MudSelectItem>
                            }
                        }
                    </MudSelect>
                    <ValidationMessage For="@(() => record.GroupId)" />
                </div>
                <div class="col-6 flex-input">
                    <label class="form-label" style="font-weight: bold;">Location</label>

                    <MudSelect @bind-Value="record.LocationId"
                               Placeholder="Location"
                               Clearable="true">

                        @if (Loc != null && Loc.Any())
                        {
                            if (record.LocationId == 0)
                            {
                                record.LocationId = Loc.First().Id;
                            }

                            foreach (var i in Loc)
                            {
                                <MudSelectItem T="int" Value="@i.Id">@i.Name</MudSelectItem>
                            }
                        }
                    </MudSelect>
                    <ValidationMessage For="@(() => record.LocationId)" />
                </div>
                <div class="col-6 flex-input">
                    <label class="form-label" style="font-weight: bold;">Active</label>

                    <MudSelect T="int"
                               @bind-Value="record.IsActive"
                               Placeholder="Active"
                               Clearable="true">

                        @if (record.IsActive != 0 && record.IsActive != 1)
                        {
                            record.IsActive = 1;
                        }

                        <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                        <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                    </MudSelect>

                    <ValidationMessage For="@(() => record.IsActive)" />
                </div>

            </div>
        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    static UsersModel record = new();
    List<TypeCodeModel> User = null!;
    List<EmployeesModel> Emp = new();
    List<GroupsModel> Gro = new();
    List<LocationsModel> Loc = new();


    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        User = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/USER TYPE", true) ?? new List<TypeCodeModel>();
        Emp = await Functions.GetAsync<List<EmployeesModel>>($"Employees/Search", true) ?? new List<EmployeesModel>();
        Gro = await Functions.GetAsync<List<GroupsModel>>($"Groups/Search", true) ?? new List<GroupsModel>();
        Loc = await Functions.GetAsync<List<LocationsModel>>($"Locations/Search", true) ?? new List<LocationsModel>();


        if (Action == "INSERT")
        {
            record = new UsersModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else
        {
            await Get(CurrentRecord);
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<UsersModel>($"Users/Get?Id={id}", true) ?? new UsersModel();
        LoadingPanel = false;
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new UsersModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<UsersModel>($"Users/{url}", record, true);
        if (result.Success == false)
        {
            await Functions.ShowMessage(dialogService, "error", $"Record Not Saved");
        }
        else
        {
            await Functions.ShowMessage(dialogService, "success", $"Record {Action} Successfully");
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }
}

