@page "/UsersDashboard"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="row" style="margin: 2px; height: 90vh; display: flex;">
    <MyDrawer @ref="_drawer" Title="Users" FaIcon="fa fa-user">
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <UsersPage Action="@Action" CurrentRecord="record.Id"/>
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    @if (data == null)
    {
        <SimpleLoading />
    }
    else
    {
        <div class="row">
            <MudDataGrid T="UsersModel" MultiSelection="false" Items="@data" SortMode="SortMode.Multiple" Filterable="true" Hideable="true" RowsPerPage="10" Dense="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Users Managment</MudText>
                    <MudSpacer />
                    <MudButton StartIcon="@Icons.Material.TwoTone.Add" Size="MudBlazor.Size.Small" Class="mx-1" Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => Clear())">New</MudButton>
                    <MudButton StartIcon="@Icons.Material.TwoTone.Refresh" Size="MudBlazor.Size.Small" Class="mx-1" Variant="Variant.Filled" Color="Color.Info" OnClick="@(() => Refresh())">Refresh</MudButton>
                </ToolBarContent>

                <Columns>
                    <TemplateColumn Title="Actions" CellStyle="width: 160px; min-width: 160px;">
                        <CellTemplate Context="row">
                            <MudIconButton Icon="@Icons.Material.TwoTone.Search" Size="MudBlazor.Size.Small" OnClick="@(() => View(row.Item.Id))" Variant="Variant.Filled" Color="Color.Secondary"/>
                            <MudIconButton Icon="@Icons.Material.TwoTone.Edit" Size="MudBlazor.Size.Small" OnClick="@(() => Edit(row.Item.Id))" Variant="Variant.Filled" Color="Color.Primary"/>
                            <MudIconButton Icon="@Icons.Material.TwoTone.DeleteSweep" Size="MudBlazor.Size.Small" OnClick="@(() => Delete(row.Item.Id))" Variant="Variant.Filled" Color="Color.Error" />
                        </CellTemplate>
                    </TemplateColumn>

                <PropertyColumn Property="x => x.Username" Title="Username" Sortable="true" Filterable="true" />
                <PropertyColumn Property="x => x.FullName" Title="Name" Sortable="true" Filterable="true" />
				<PropertyColumn Property="x => x.UserType" Title="User Type" Sortable="true" Filterable="true" />
				<PropertyColumn Property="x => x.LocationName" Title="Location" Sortable="true" Filterable="true" />
				<PropertyColumn Property="x => x.Email" Title="Email" Sortable="true" Filterable="true" />

                </Columns>

                <PagerContent>
                    <MudDataGridPager T="UsersModel" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
</div>

@code
{
    static List<UsersModel> data = new();
    static UsersModel record = new();

    public string Action { get; set; } = "INSERT";

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        data = await Functions.GetAsync<List<UsersModel>>($"Users/Search", true) ?? new List<UsersModel>();
        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<UsersModel>($"Users/Get?Id={id}", true) ?? new UsersModel();
        LoadingPanel = false;
    }

    protected async Task Clear()
    {
        Action = "INSERT";
        record = new UsersModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Refresh()
    {
        data = await Functions.GetAsync<List<UsersModel>>($"Users/Search", true) ?? new List<UsersModel>();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE"; 
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Get(id);
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;
         
        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        var result = await Functions.PostAsync<UsersModel>($"Users/{Action}", record, true);
        if (result.Success == true)
        {
            SnackbarService.Add($"Record Not Deleted", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record Deleted Successfully", Severity.Success);
            record = new();
            isReadOnly = true;
        }
    
        data = await Functions.GetAsync<List<UsersModel>>($"Users/Search", true) ?? new List<UsersModel>();
        LoadingPanel = false;
        await _drawer.CloseDrawer();
     
    }

}

