@page "/UsersPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">Users</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">Manage & Maintain Users</MudText>
                    </div>
                </div>
                <hr />
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">User Name</label>
                        <MudTextField id="Username" @bind-Value="record.Username" placeholder="User Name" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Username)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">User Type</label>

                        <MudSelect T="string"
                                   @bind-Value="record.UserType"
                                   Placeholder="User Type"
                                   Clearable="true">

                            @if (Use != null && Use.Any())
                            {
                                if (string.IsNullOrWhiteSpace(record.UserType))
                                {
                                    record.UserType = Use.First().ListValue;
                                }

                                foreach (var i in Use)
                                {
                                    <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                                }
                            }
                        </MudSelect>

                        <ValidationMessage For="@(() => record.UserType)" />
                    </div>
                  
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Employee</label>
                        <AutoComplete TItem="EmployeesModel"
                            DataList="@Emp"
                            IdProperty="@(e => e.Id)"
                            DisplayProperty="@(e => e.Fullname)"
                            SelectedId="@record.EmpId"
                            SelectedIdChanged="@(id => record.EmpId = id)" />
                    </div>

                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Group</label>

                        <MudSelect @bind-Value="record.GroupId"
                                   Placeholder="Group"
                                   Clearable="true">

                            @if (Gro != null && Gro.Any())
                            {
                                foreach (var i in Gro)
                                {
                                    <MudSelectItem T="int" Value="@i.Id">@i.Name</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.GroupId)" />
                    </div>


                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Location</label>

                        <MudSelect @bind-Value="record.LocationId"
                                   Placeholder="Location"
                                   Clearable="true">

                            @if (Loc != null && Loc.Any())
                            {
                                foreach (var i in Loc)
                                {
                                    <MudSelectItem T="int" Value="@i.Id">@i.Name</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.LocationId)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Active</label>

                        <MudSelect T="int"
                                   @bind-Value="record.IsActive"
                                   Placeholder="Active"
                                   Clearable="true">

                            @if (record.IsActive != 0 && record.IsActive != 1)
                            {
                                record.IsActive = 1;
                            }

                            <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                            <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.IsActive)" />
                    </div>

                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    UsersModel record = new();
    List<TypeCodeModel> Use = null!;
    List<EmployeesModel> Emp = new();
    List<GroupsModel> Gro = new();
    List<LocationsModel> Loc = new();

    private string? searchTerm;
    private EmployeesModel? SelectedEmployee;
    
    [Parameter] public string? Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;
    [Parameter] public EventCallback OnSaved { get; set; }

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Use = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/USER TYPE", true) ?? new List<TypeCodeModel>();
        Emp = await Functions.GetAsync<List<EmployeesModel>>($"Employees/Search", true) ?? new List<EmployeesModel>();
        Gro = await Functions.GetAsync<List<GroupsModel>>($"Groups/Search", true) ?? new List<GroupsModel>();
        Loc = await Functions.GetAsync<List<LocationsModel>>($"Locations/Search", true) ?? new List<LocationsModel>();

        if (Action == "INSERT")
        {
            record = new UsersModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action == "UPDATE")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action == "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<UsersModel>($"Users/Get/{id}", true) ?? new UsersModel();
        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        // if (Emp != null && Emp.Any() && record.EmpId == 0)
        //     record.EmpId = Emp.First().Id;
        if (Gro != null && Gro.Any() && record.GroupId == 0)
            record.GroupId = Gro.First().Id;
        if (Loc != null && Loc.Any() && record.LocationId == 0)
            record.LocationId = Loc.First().Id;


        StateHasChanged();
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new UsersModel();
        record.IsActive = 1;
        isReadOnly = false;
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action![0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<UsersModel>($"Users/{url}", record, true);
        if (result.Success == false)
        {
            SnackbarService.Add($"Record Not Saved", Severity.Error);
        }
        else
        {
            await OnSaved.InvokeAsync();
            SnackbarService.Add($"Record {Action} Successfully", Severity.Success);
            if (url?.Contains("delete", StringComparison.OrdinalIgnoreCase) == false)
                await Edit(result.Result!.Id);
            else
            {
                Clear();
            }
        }

        LoadingPanel = false;
        await _drawer.CloseDrawerAsync();

    }
}

