@page "/CashBookPage"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService
@inject FileUploadService FileUploadService

<Loading IsLoading="@LoadingPanel" />

<div class="row">
    <MyModelDialog Width="30%" Height="70%" @ref="_myDialog" Title="CashBook Managment">

        <HeaderContent>
            <div class="text-start" style="overflow-x: hidden;">
                <span>A cashbook is a financial journal used to record all cash transactions (both receipts and payments) in a business. It acts as a subsidiary ledger for cash, providing a real-time view of cash flow and ensuring accurate financial tracking.</span>
            </div>
        </HeaderContent>

        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <div class="row" style="width:100%">
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="OrganizationId">Tran Type</label>
                            <MudSelect T="string" @bind-Value="record.TranType" @bind-Value:after="OnTransactionTypeChanged">
                                <MudSelectItem T="string" Value="@("RECEIPT")">RECEIPT</MudSelectItem>
                                <MudSelectItem T="string" Value="@("PAYMENT")">PAYMENT</MudSelectItem>
                                <MudSelectItem T="string" Value="@("BANK DEPOSIT")">BANK DEPOSIT</MudSelectItem>
                            </MudSelect>
                            <ValidationMessage For="@(() => record.TranType)" />
                        </div>

                         <div>
                            <label class="small fw-bold mb-2 text-uppercase">Organization Logo</label>

                            @if (!string.IsNullOrEmpty(record.FileAttachment))
                            {
                                <img src="@record.FileAttachment" class="img-fluid rounded" alt="Company Logo" style="max-width: 100%; max-height: 150px; object-fit: cover;" />
                            }
                            else
                            {
                                <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle" style="width: 120px; height: 120px;">
                                    <i class="fas fa-image text-white fs-3"></i>
                                </div>
                            }

                            @if (!string.IsNullOrEmpty(record.FileAttachment))
                            {
                                <p class="mt-2" style="font-size: xx-small;">@record.FileAttachment</p>
                            }

                            <div class="mt-2">
                                <InputFile class="form-control" OnChange="OnFileInputChanged" />
                            </div>
                        </div>


                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label class="custom-label">Organization</label>
                            <MudSelect T="int" @bind-Value="record.OrganizationId" Disabled="@isReadOnly" Class="custom-select">
                                @if (Organizations != null)
                                {
                                    @foreach (var a in Organizations)
                                    {
                                        <MudSelectItem T="int" Value="@a.Id">@a.Name</MudSelectItem>
                                    }
                                }
                            </MudSelect>

                            <ValidationMessage For="@(() => record.OrganizationId)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="SeqNo">Seqno</label>
                            <MudInput id="SeqNo" @bind-Value="record.SeqNo" placeholder="SeqNo" readonly="true" style="height: 30px; font-size: 12px; color: #333;" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.SeqNo)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label class="custom-label">Location</label>
                            <MudSelect T="int" @bind-Value="record.LocationId" Disabled="@isReadOnly" Class="custom-select">
                                @if (locations != null)
                                {
                                    @foreach (var a in locations)
                                    {
                                        <MudSelectItem T="int" Value="@a.Id">@a.Name</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                            <ValidationMessage For="@(() => record.LocationId)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="PartyId">Partyid</label>
                            <MudNumericField @bind-Value="record.PartyId" placeholder="PartyId" readonly="@isReadOnly" Format="#,##0.00" style="height: 30px; font-size: 12px; color: #333;"></MudNumericField>
                            <ValidationMessage For="@(() => record.PartyId)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="TranDate">Trandate</label>
                            <InputDate @bind-Value="record.TranDate" Format="yyyy-MM-dd" placeholder="TranDate" style="height: 30px; font-size: 12px; color: #333;" class="w-100" readonly="@isReadOnly"></InputDate>
                            <ValidationMessage For="@(() => record.TranDate)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="Description">Description</label>
                            <MudInput id="Description" @bind-Value="record.Description" placeholder="Description" readonly="@isReadOnly" style="height: 30px; font-size: 12px; color: #333;" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.Description)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="Amount">Amount</label>
                            <MudNumericField @bind-Value="record.Amount" placeholder="Amount" readonly="@isReadOnly" Format="#,##0.00" style="height: 30px; font-size: 12px; color: #333;"></MudNumericField>
                            <ValidationMessage For="@(() => record.Amount)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="AccountId">Accountid</label>
                            <MudSelect T="int" @bind-Value="record.AccountId" Disabled="@isReadOnly">
                                @if (ChartOfAccounts != null)
                                {
                                    @foreach (var account in ChartOfAccounts)
                                    {
                                        <MudSelectItem T="int" Value="@account.Id">@account.Name</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                            <ValidationMessage For="@(() => record.AccountId)" />

                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="PaymentMethod">Paymentmethod</label>
                            <MudSelect T="string"  @bind-Value="record.PaymentMethod" Disabled="@isReadOnly">
                                @if (Payment_Method != null)
                                {
                                    @foreach (var a in Payment_Method)
                                    {
                                        <MudSelectItem T="string" Value="@a.ListValue">@a.ListValue</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                            <ValidationMessage For="@(() => record.PaymentMethod)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="RefNo">Amount</label>
                            <MudInput id="RefNo" @bind-Value="record.Amount" placeholder="RefNo" readonly="@isReadOnly" style="height: 30px; font-size: 12px; color: #333;" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.Amount)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="RefNo">Refno</label>
                            <MudInput id="RefNo" @bind-Value="record.RefNo" placeholder="RefNo" readonly="@isReadOnly" style="height: 30px; font-size: 12px; color: #333;" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.RefNo)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="TranRef">Tranref</label>
                            <MudInput id="TranRef" @bind-Value="record.TranRef" placeholder="TranRef" readonly="@isReadOnly" style="height: 30px; font-size: 12px; color: #333;" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.TranRef)" />
                        </div>
                    </div>
                </MudForm>
            </EditForm>
        </ChildContent>

        <FooterContent>
            <div class="text-center">
                @if (!isReadOnly)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Save" Class="px-2 py-2 mt-1 mr-2" Style="height:30px;">
                        @(isNew == 1 ? "Save" : "Update")
                    </MudButton>
                }
            </div>
        </FooterContent>
    </MyModelDialog>

    @if (data == null)
    {
        <p>Loading ...</p>
    }
    else
    {
        <div class="row">
            <MudDataGrid T="CashBookModel" MultiSelection="false" Items="@data" SortMode="SortMode.Multiple" Filterable="true" Hideable="true" RowsPerPage="10" Class="custom-grid">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">CashBook Managment</MudText>
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.TwoTone.Add" Size="MudBlazor.Size.Small" OnClick="@(() => Clear())" />
                </ToolBarContent>

                <Columns>
                    <TemplateColumn Title="Actions" CellStyle="width: 120px; min-width: 120px;">
                        <CellTemplate Context="row">
                            <MudIconButton Icon="@Icons.Material.TwoTone.Search" Size="MudBlazor.Size.Small" OnClick="@(() => View(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.TwoTone.Save" Size="MudBlazor.Size.Small" OnClick="@(() => Edit(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.TwoTone.DeleteSweep" Size="MudBlazor.Size.Small" OnClick="@(() => Delete(row.Item.Id))" />
                        </CellTemplate>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.SeqNo" Title="SeqNo" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.TranDate" Title="TranDate" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.Description" Title="Description" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.TranType" Title="TranType" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.PaymentMethod" Title="PaymentMethod" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.RefNo" Title="RefNo" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.TranRef" Title="TranRef" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.CreatedOn" Title="CreatedOn" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.CreatedFrom" Title="CreatedFrom" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.UpdatedOn" Title="UpdatedOn" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.UpdatedFrom" Title="UpdatedFrom" Sortable="true" Filterable="true" />


                </Columns>

                <PagerContent>
                    <MudDataGridPager T="CashBookModel" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
</div>

@code
{
    static List<CashBookModel> data = new();
    static CashBookModel record = new();
    static List<OrganizationsModel> Organizations = new();
    static List<LocationsModel> locations = new();
    static List<ChartOfAccountsModel> ChartOfAccounts = new();
    static List<TypeCodeModel> Payment_Method = new();
    static List<PartiesModel> PartyList = new();

    public bool isReportVisible { get; set; } = false;
    public int Report_id { get; set; }
    public DateTime startDate { get; set; } = DateTime.Today;
    public DateTime endDate { get; set; } = DateTime.Today;

    int isNew = 1;
    private bool LoadingPanel { get; set; } = false;
    public MyModelDialog? _myDialog;

    [CascadingParameter]
    private bool isReadOnly { get; set; }
    public string cpb { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        LoadingPanel = true;
        Payment_Method = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/ListName/PAYMENT METHOD", true) ?? new List<TypeCodeModel>();
        locations = await Functions.GetAsync<List<LocationsModel>>($"Locations/Search", true) ?? new List<LocationsModel>();
        Organizations = await Functions.GetAsync<List<OrganizationsModel>>($"Organizations/Search", true) ?? new List<OrganizationsModel>();
        await GetData();
        LoadingPanel = false;
    }

    private async Task OnTransactionTypeChanged()
    {
        LoadingPanel = true;

        string filterCOA;
        string filterParties;

        switch (record.TranType)
        {
            case "RECEIPT":
                filterCOA = "interface_type='REVENUE'";
                cpb = "Customer";
                filterParties = "partytype='CUSTOMER'";
                break;

            case "PAYMENT":
                filterCOA = "interface_type='EXPENSE'";
                cpb = "Supplier";
                filterParties = "partytype='SUPPLIER'";
                break;

            default:
                filterCOA = "interface_type='BANK'";
                cpb = "Bank";
                filterParties = "partytype='BANK'";
                break;
        }

        var updatedAccounts = await Functions.GetAsync<List<ChartOfAccountsModel>>($"ChartOfAccounts/Search", true) ?? new List<ChartOfAccountsModel>();

        if (!updatedAccounts.Any(a => a.Id == record.AccountId))
        {
            record.AccountId = updatedAccounts.FirstOrDefault()?.Id ?? 0;
        }

        ChartOfAccounts = updatedAccounts;

        var updatedPartyList = await Functions.GetAsync<List<PartiesModel>>($"Parties/Search", true) ?? new List<PartiesModel>();

        if (!updatedPartyList.Any(p => p.Id == record.PartyId))
        {
            record.PartyId = updatedPartyList.FirstOrDefault()?.Id ?? 0;
        }

        PartyList = updatedPartyList;

        await InvokeAsync(StateHasChanged);
        LoadingPanel = false;
    }

    
    protected async Task GetData()
    {
        var formattedStartDate = startDate.ToString("yyyy-MM-dd");
        var formattedEndDate = endDate.ToString("yyyy-MM-dd");
        string Criteria = string.Empty;

        if (Globals.User.GroupId != 1)
        {
            Criteria = $" and location_id = {Globals.User.LocationId}";
        }

        data = await Functions.GetAsync<List<CashBookModel>>($"CashBook/Search/DATE(tran_date) >= '{formattedStartDate}' and DATE(tran_date) <= '{formattedEndDate}' {Criteria}", true) ?? new List<CashBookModel>();
    }


    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<CashBookModel>($"CashBook/Get?Id={id}", true) ?? new CashBookModel();
        LoadingPanel = false;
    }

    protected void Clear()
    {
        isNew = 1;
        record = new CashBookModel();
        isReadOnly = false;
        _myDialog!.Show();
    }

    protected async Task View(int id)
    {
        await Get(id);
        isReadOnly = true;
        _myDialog!.Show();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        isNew = 2;
        isReadOnly = false;
        _myDialog!.Show();
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        isNew = 3;
        await Get(id);
        await Save();
    }

    protected void Print(int id)
    {
        Report_id = id;
        var url = $"/CashBookReport/{id}";
        JSRuntime.InvokeVoidAsync("open", url, "_blank");
    }


    protected async Task Save()
    {
        LoadingPanel = true;

        //Add Mandatory Fields Here
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = "";
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = "";

        string InsertUpdateDelete = "Insert";

        if (isNew == 1)
            InsertUpdateDelete = "Insert";
        else if (isNew == 2)
            InsertUpdateDelete = "Update";
        else if (isNew == 3)
            InsertUpdateDelete = $"SoftDelete";
        else if (isNew == 4)
            InsertUpdateDelete = $"Delete";
        else
        {
            SnackbarService.Add($"Not a valid option selected.", Severity.Warning);
            return;
        }

        var result = await Functions.PostAsync<CashBookModel>($"CashBook/{InsertUpdateDelete}", record, true);
        if (result.Success)
        {
            SnackbarService.Add($"Record Not {InsertUpdateDelete.Replace("Soft", "")}", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record {InsertUpdateDelete.Replace("Soft", "")} Successfully", Severity.Success);
            record = new();
            isReadOnly = true;
        }

        data = await Functions.GetAsync<List<CashBookModel>>($"CashBook/Search", true) ?? new List<CashBookModel>();
        LoadingPanel = false;
        _myDialog!.Hide();

    }

    private async Task OnFileInputChanged(InputFileChangeEventArgs e)
    {
        try
        {
            var result = await Functions.FileUpload(e, FileUploadService, 25);

            if (result.Item1 == true)
            {
                record.FileAttachment = result.Item2;
                SnackbarService.Add("File uploaded successfully!", Severity.Success);
            }
            else
            {
                SnackbarService.Add($"Error: {result.Item2}", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            SnackbarService.Add($"Exception: {ex.Message}", Severity.Error);
            record.FileAttachment = null;
        }
    }
}

