@page "/EmployeesDevicesPage"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="row">
    <MyModelDialog Width="30%" Height="70%" @ref="_myDialog" Title="EmployeesDevices Managment">

        <HeaderContent>
            <div class="text-start" style="overflow-x: hidden;">
                <span>...</span>
            </div>
        </HeaderContent>

        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <div class="row" style="width:100%">
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label class="custom-label">Organization</label>
                            <MudSelect T="int" @bind-Value="record.OrganizationId" Disabled="@isReadOnly" Class="custom-select">
                                @if (Organizations != null)
                                {
                                    @foreach (var a in Organizations)
                                    {
                                        <MudSelectItem T="int" Value="@a.Id">@a.Name</MudSelectItem>
                                    }
                                }
                            </MudSelect>

                            <ValidationMessage For="@(() => record.OrganizationId)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label class="custom-label">Issued To</label>
                            <MudSelect T="int" @bind-Value="record.EmpId" Disabled="@isReadOnly" Class="custom-select">
                                @if (emp != null)
                                {
                                    @foreach (var a in emp)
                                    {
                                        <MudSelectItem T="int" Value="@a.Id">@a.Fullname</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                            <ValidationMessage For="@(() => record.EmpId)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="Device">Device</label>
                            <MudInput id="Device" @bind-Value="record.Device" placeholder="Device" readonly="@isReadOnly" style="height: 30px; font-size: 12px; color: #333;" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.Device)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label class="custom-label">Operating System</label>
                            <MudSelect T="string" @bind-Value="record.DeviceOs" Disabled="@isReadOnly" Class="custom-select">
                                @if (DeviceOS != null)
                                {
                                    foreach (var ind in DeviceOS)
                                    {
                                        <MudSelectItem T="string" Value="@ind.ListValue">@ind.ListValue</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                            <ValidationMessage For="@(() => record.DeviceOs)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label class="custom-label">Device Type</label>
                            <MudSelect T="string" @bind-Value="record.DeviceType" Disabled="@isReadOnly" Class="custom-select">
                                @if (DeviceType != null)
                                {
                                    foreach (var ind in DeviceType)
                                    {
                                        <MudSelectItem T="string" Value="@ind.ListValue">@ind.ListValue</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                            <ValidationMessage For="@(() => record.DeviceType)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="DeviceSr">Devicesr</label>
                            <MudInput id="DeviceSr" @bind-Value="record.DeviceSr" placeholder="DeviceSr" readonly="@isReadOnly" style="height: 30px; font-size: 12px; color: #333;" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.DeviceSr)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="IssuedOn">Issuedon</label>
                            <InputDate @bind-Value="record.IssuedOn" Format="yyyy-MM-dd" placeholder="IssuedOn" style="height: 30px; font-size: 12px; color: #333;" class="w-100" readonly="@isReadOnly"></InputDate>
                            <ValidationMessage For="@(() => record.IssuedOn)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label class="custom-label">Issued By</label>
                            <MudSelect T="int" @bind-Value="record.IssueBy" Disabled="@isReadOnly" Class="custom-select">
                                @if (emp != null)
                                {
                                    @foreach (var a in emp)
                                    {
                                        <MudSelectItem T="int" Value="@a.Id">@a.Fullname</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                            <ValidationMessage For="@(() => record.IssueBy)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label style="height: 10px; font-size: 12px; font-weight: 200; color: #333;" for="DeviceLife">Devicelife</label>
                            <MudNumericField @bind-Value="record.DeviceLife" placeholder="DeviceLife" readonly="@isReadOnly" Format="#,##0.00" style="height: 30px; font-size: 12px; color: #333;"></MudNumericField>
                            <ValidationMessage For="@(() => record.DeviceLife)" />
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 mb-3">
                            <label class="custom-label">Activation Status</label>
                            <MudSelect T="int" @bind-Value="record.IsActive" Class="custom-select">
                                <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                                <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                            </MudSelect>
                            <ValidationMessage For="@(() => record.IsActive)" />
                        </div>

                    </div>
                </MudForm>
            </EditForm>
        </ChildContent>

        <FooterContent>
            <div class="text-center">
                @if (!isReadOnly)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="Save" Class="px-2 py-2 mt-1 mr-2" Style="height:30px;">
                        @(isNew == 1 ? "Save" : "Update")
                    </MudButton>
                }
            </div>
        </FooterContent>
    </MyModelDialog>

    @if (data == null)
    {
        <p>Loading ...</p>
    }
    else
    {
        <div class="row">
            <MudDataGrid T="EmployeesDevicesModel" MultiSelection="false" Items="@data" SortMode="SortMode.Multiple" Filterable="true" Hideable="true" RowsPerPage="10" Class="custom-grid">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Employees Devices Issuance</MudText>
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.TwoTone.Add" Size="MudBlazor.Size.Small" OnClick="@(() => Clear())" />
                </ToolBarContent>

                <Columns>
                    <TemplateColumn Title="Actions" CellStyle="width: 120px; min-width: 120px;">
                        <CellTemplate Context="row">
                            <MudIconButton Icon="@Icons.Material.TwoTone.Search" Size="MudBlazor.Size.Small" OnClick="@(() => View(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.TwoTone.Save" Size="MudBlazor.Size.Small" OnClick="@(() => Edit(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.TwoTone.DeleteSweep" Size="MudBlazor.Size.Small" OnClick="@(() => Delete(row.Item.Id))" />
                        </CellTemplate>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.Device" Title="Device" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.DeviceOs" Title="OS" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.DeviceType" Title="Device Type" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.DeviceSr" Title="Serial" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.IssuedOn" Title="Issued On" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.CreatedOn" Title="CreatedOn" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.CreatedFrom" Title="CreatedFrom" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.UpdatedOn" Title="UpdatedOn" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.UpdatedFrom" Title="UpdatedFrom" Sortable="true" Filterable="true" />


                </Columns>

                <PagerContent>
                    <MudDataGridPager T="EmployeesDevicesModel" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
</div>

@code
{
    static List<EmployeesDevicesModel> data = new();
    static EmployeesDevicesModel record = new();
     static List<EmployeesModel> emp = new();
     List<TypeCodeModel> DeviceType = null!;
     List<TypeCodeModel> DeviceOS = null!;  
    static List<OrganizationsModel> Organizations = new();
    


    int isNew = 1;
    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    public MyModelDialog? _myDialog;

    protected override async Task OnInitializedAsync()
    {
        LoadingPanel = true;
        emp = await Functions.GetAsync<List<EmployeesModel>>($"Employees/Search", true) ?? new List<EmployeesModel>();
        data = await Functions.GetAsync<List<EmployeesDevicesModel>>($"EmployeesDevices/Search", true) ?? new List<EmployeesDevicesModel>();
        DeviceType = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/ListName/DEVICE TYPE", true) ?? new List<TypeCodeModel>();
        DeviceOS = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/ListName/OS", true) ?? new List<TypeCodeModel>();
        Organizations = await Functions.GetAsync<List<OrganizationsModel>>($"Organizations/Search", true) ?? new List<OrganizationsModel>();
        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<EmployeesDevicesModel>($"EmployeesDevices/Get?Id={id}", true) ?? new EmployeesDevicesModel();
        LoadingPanel = false;
    }

    protected void Clear()
    {
        isNew = 1;
        record = new EmployeesDevicesModel();
        record.IsActive = 1;
        isReadOnly = false;
        _myDialog!.Show();
    }

    protected async Task View(int id)
    {
        await Get(id);
        isReadOnly = true;
        _myDialog!.Show();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        isNew = 2;
        isReadOnly = false;
        _myDialog!.Show();
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        isNew = 3;
        await Get(id);
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        //Add Mandatory Fields Here
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = "";
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = "";

        string InsertUpdateDelete = "Insert";

        if (isNew == 1)
            InsertUpdateDelete = "Insert";
        else if (isNew == 2)
            InsertUpdateDelete = "Update";
        else if (isNew == 3)
            InsertUpdateDelete = $"SoftDelete";
        else if (isNew == 4)
            InsertUpdateDelete = $"Delete";
        else
        {
            SnackbarService.Add($"Not a valid option selected.", Severity.Warning);
            return;
        }

        var result = await Functions.PostAsync<EmployeesDevicesModel>($"EmployeesDevices/{InsertUpdateDelete}", record, true);
        if (result.Success)
        {
            SnackbarService.Add($"Record Not {InsertUpdateDelete.Replace("Soft", "")}", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record {InsertUpdateDelete.Replace("Soft", "")} Successfully", Severity.Success);
            record = new();
            isReadOnly = true;
        }

        data = await Functions.GetAsync<List<EmployeesDevicesModel>>($"EmployeesDevices/Search", true) ?? new List<EmployeesDevicesModel>();
        LoadingPanel = false;
        _myDialog!.Hide();

    }
}

