@page "/LeavesPage"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="row">
    <MyModelDialog Width="30%" Height="70%" @ref="_myDialog" Title="Leaves Managment">

        <HeaderContent>
            <div class="text-center" style="overflow-x: hidden;">
                <p></p>
            </div>
        </HeaderContent>

        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <MudNumericField Label="OrganizationId" @bind-Value="record.OrganizationId" placeholder="OrganizationId" readonly="@isReadOnly" Format="#,##0.00" style="text-align: right; padding-right: 25px; direction: rtl;"></MudNumericField>
                            <ValidationMessage For="@(() => record.OrganizationId)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <MudNumericField Label="EmpId" @bind-Value="record.EmpId" placeholder="EmpId" readonly="@isReadOnly" Format="#,##0.00" style="text-align: right; padding-right: 25px; direction: rtl;"></MudNumericField>
                            <ValidationMessage For="@(() => record.EmpId)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="LabelStyle">Leavetype</label>
                            <MudInput id="LeaveType" @bind-Value="record.LeaveType" placeholder="LeaveType" readonly="@isReadOnly" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.LeaveType)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <InputDate @bind-Value="record.FromDate" Format="yyyy-MM-dd" placeholder="FromDate" class="InputDateStyle" readonly="@isReadOnly"></InputDate>
                            <ValidationMessage For="@(() => record.FromDate)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <InputDate @bind-Value="record.ToDate" Format="yyyy-MM-dd" placeholder="ToDate" class="InputDateStyle" readonly="@isReadOnly"></InputDate>
                            <ValidationMessage For="@(() => record.ToDate)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="LabelStyle">Description</label>
                            <MudInput id="Description" @bind-Value="record.Description" placeholder="Description" readonly="@isReadOnly" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.Description)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <InputDate @bind-Value="record.Approved" Format="yyyy-MM-dd" placeholder="Approved" class="InputDateStyle" readonly="@isReadOnly"></InputDate>
                            <ValidationMessage For="@(() => record.Approved)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <MudNumericField Label="ApprovedBy" @bind-Value="record.ApprovedBy" placeholder="ApprovedBy" readonly="@isReadOnly" Format="#,##0.00" style="text-align: right; padding-right: 25px; direction: rtl;"></MudNumericField>
                            <ValidationMessage For="@(() => record.ApprovedBy)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <MudNumericField Label="CreatedBy" @bind-Value="record.CreatedBy" placeholder="CreatedBy" readonly="@isReadOnly" Format="#,##0.00" style="text-align: right; padding-right: 25px; direction: rtl;"></MudNumericField>
                            <ValidationMessage For="@(() => record.CreatedBy)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <InputDate @bind-Value="record.CreatedOn" Format="yyyy-MM-dd" placeholder="CreatedOn" class="InputDateStyle" readonly="@isReadOnly"></InputDate>
                            <ValidationMessage For="@(() => record.CreatedOn)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="LabelStyle">Createdfrom</label>
                            <MudInput id="CreatedFrom" @bind-Value="record.CreatedFrom" placeholder="CreatedFrom" readonly="@isReadOnly" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.CreatedFrom)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <MudNumericField Label="UpdatedBy" @bind-Value="record.UpdatedBy" placeholder="UpdatedBy" readonly="@isReadOnly" Format="#,##0.00" style="text-align: right; padding-right: 25px; direction: rtl;"></MudNumericField>
                            <ValidationMessage For="@(() => record.UpdatedBy)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <InputDate @bind-Value="record.UpdatedOn" Format="yyyy-MM-dd" placeholder="UpdatedOn" class="InputDateStyle" readonly="@isReadOnly"></InputDate>
                            <ValidationMessage For="@(() => record.UpdatedOn)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label class="LabelStyle">Updatedfrom</label>
                            <MudInput id="UpdatedFrom" @bind-Value="record.UpdatedFrom" placeholder="UpdatedFrom" readonly="@isReadOnly" Class="w-100"></MudInput>
                            <ValidationMessage For="@(() => record.UpdatedFrom)" />
                        </div>
                        <div class="col-sm-6 mb-3">
                            <MudNumericField Label="IsSoftDeleted" @bind-Value="record.IsSoftDeleted" placeholder="IsSoftDeleted" readonly="@isReadOnly" Format="#,##0.00" style="text-align: right; padding-right: 25px; direction: rtl;"></MudNumericField>
                            <ValidationMessage For="@(() => record.IsSoftDeleted)" />
                        </div>

                    </div>
                </MudForm>
            </EditForm>
        </ChildContent>

        <FooterContent>
            <div class="mt-5 text-center">
                @if (!isReadOnly)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Save"
                               Class="px-4 py-2">
                        @(isNew == 1 ? "Save" : "Update")
                    </MudButton>
                }
            </div>
        </FooterContent>
    </MyModelDialog>

    @if (data == null)
    {
        <p>Loading ...</p>
    }
    else
    {
        <div class="row">
            <MudDataGrid T="LeavesModel" MultiSelection="false" Items="@data" SortMode="SortMode.Multiple"
                         Filterable="true" Hideable="true" RowsPerPage="10">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Leaves Managment</MudText>
                    <MudSpacer />
                    <MudIconButton Icon="@Icons.Material.Outlined.Add" Size="MudBlazor.Size.Small" OnClick="@(() => Clear())" />
                </ToolBarContent>

                <Columns>
                    <TemplateColumn Title="Actions" CellStyle="width: 120px; min-width: 120px;">
                        <CellTemplate Context="row">
                            <MudIconButton Icon="@Icons.Material.Outlined.Visibility" Size="MudBlazor.Size.Small" OnClick="@(() => View(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.Outlined.Edit" Size="MudBlazor.Size.Small" OnClick="@(() => Edit(row.Item.Id))" />
                            <MudIconButton Icon="@Icons.Material.Outlined.Delete" Size="MudBlazor.Size.Small" OnClick="@(() => Delete(row.Item.Id))" />
                        </CellTemplate>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.LeaveType" Title="LeaveType" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.FromDate" Title="FromDate" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.ToDate" Title="ToDate" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.Description" Title="Description" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.Approved" Title="Approved" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.CreatedOn" Title="CreatedOn" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.CreatedFrom" Title="CreatedFrom" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.UpdatedOn" Title="UpdatedOn" Sortable="true" Filterable="true" Format="dd-MMM-yyy" />
                    <PropertyColumn Property="x => x.UpdatedFrom" Title="UpdatedFrom" Sortable="true" Filterable="true" />


                </Columns>

                <PagerContent>
                    <MudDataGridPager T="LeavesModel" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
</div>

@code
{
    static List<LeavesModel> data = new();
    static LeavesModel record = new();

    int isNew = 1;
    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    public MyModelDialog? _myDialog;

    protected override async Task OnInitializedAsync()
    {
        LoadingPanel = true;
        data = await Functions.GetAsync<List<LeavesModel>>($"Leaves/Search", true) ?? new List<LeavesModel>();
        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<LeavesModel>($"Leaves/Get?Id={id}", true) ?? new LeavesModel();
        LoadingPanel = false;
    }

    protected void Clear()
    {
        isNew = 1;
        record = new LeavesModel();
        isReadOnly = false;
        _myDialog!.Show();
    }

    protected async Task View(int id)
    {
        await Get(id);
        isReadOnly = true;
        _myDialog!.Show();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        isNew = 2;
        isReadOnly = false;
        _myDialog!.Show();
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        isNew = 3;
        await Get(id);
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        //Add Mandatory Fields Here
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = "";
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = "";

        string InsertUpdateDelete = "Insert";

        if (isNew == 1)
            InsertUpdateDelete = "Insert";
        else if (isNew == 2)
            InsertUpdateDelete = "Update";
        else if (isNew == 3)
            InsertUpdateDelete = $"SoftDelete";
        else if (isNew == 4)
            InsertUpdateDelete = $"Delete";
        else
        {
            SnackbarService.Add($"Not a valid option selected.", Severity.Warning);
            return;
        }

        var result = await Functions.PostAsync<LeavesModel>($"Leaves/{InsertUpdateDelete}", record, true);
        if (result.Success)
        {
            SnackbarService.Add($"Record Not {InsertUpdateDelete}", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record {InsertUpdateDelete} Successfully", Severity.Success);
            record = new();
            isReadOnly = true;
        }

        data = await Functions.GetAsync<List<LeavesModel>>($"Leaves/Search", true) ?? new List<LeavesModel>();
        LoadingPanel = false;
        _myDialog!.Hide();

    }
}

