@page "/ItemServingSizePage/{CurrentRecord:int?}"
@using System.Text.Json

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService
@inject FileUploadService FileUploadService
@inject Functions Functions
@inject Globals Globals

<MudExpansionPanels MultiExpansion="true">
    <div class="text-end" style="margin-top:10px;">
        <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px; width: 100px;">
            <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
            Save
        </MudButton>
    </div>
    <MudExpansionPanel Expanded="true" Style="margin-bottom:10px;">
          <TitleContent>
            <div class="d-flex align-items-center p-2 rounded shadow-sm" style="gap: 10px;">
                <img src="@record.Pic"
                     alt="Item Image"
                     class="img-thumbnail"
                     style="width: 60px; height: 60px; object-fit: cover; border-radius: 10%;" />

                <div class="ms-2">
                    <MudText Typo="Typo.h6" Class="fw-bold">@(string.IsNullOrWhiteSpace(record.Name) ? "NO NAME" : record.Name)</MudText>
                    <MudText Typo="Typo.caption" Class="text-muted">@record.Description</MudText>
                </div>
            </div>
            <hr style="height: 6px; border: none; background: #667eea; border-radius: 10px;" />
            </TitleContent>

            <ChildContent>

                <div class="row" style="width:100%; display: flex;">
                
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="col-12 flex-input">
                                <label class="form-label" style="font-weight: bold;">Size</label>
                                <MudTextField @bind-Value="servingSize.Size" Placeholder="Size" />
                                <ValidationMessage For="@(() => servingSize.Size)" />
                            </div>
                            <div class="col-12 flex-input">
                                <label class="form-label" style="font-weight: bold;">Price</label>
                                <MudNumericField @bind-Value="servingSize.Price" Placeholder="Price" Format="#,##0.00" />
                                <ValidationMessage For="@(() => servingSize.Price)" />
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="p-3 border rounded" style="width: 300px;">
                                <label class="small fw-bold text-uppercase d-block mb-2 text-center">Items Image</label>

                                <div class="d-flex justify-content-center align-items-center mb-3" style="height: 150px;">
                                    @if (!string.IsNullOrEmpty(servingSize.Pic))
                                    {
                                        <img src="@servingSize.Pic"
                                             class="img-fluid rounded"
                                             alt="Items Image"
                                             style="max-height: 100%; max-width: 100%; object-fit: cover;" />
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle"
                                             style="width: 120px; height: 120px;">
                                            <i class="fas fa-image text-white fs-3"></i>
                                        </div>
                                    }
                                </div>

                                <InputFile OnChange="OnFileInputChanged" />
                            </div>
                       </div>
                </div>
                    </div>
                <MudButton OnClick="AddSize" Color="Color.Primary" Variant="Variant.Filled" Style="margin: 10px 0;">
                    Add
                </MudButton>
            </ChildContent>

    </MudExpansionPanel>

    <MudTable Items="@servingSizes" Hover="true" Dense="true">
        <HeaderContent>
            <MudTh>Actions</MudTh>
            <MudTh>Picture</MudTh>
            <MudTh>Size</MudTh>
            <MudTh>Price</MudTh>
        </HeaderContent>
        <RowTemplate Context="item">
            <MudTd>

                <MudMenu Icon="@Icons.Material.Filled.MoreVert" Dense="true" Color="Color.Inherit">
                    <MudMenuItem OnClick="() => Edit(item)">
                        <MudIcon Icon="@Icons.Material.TwoTone.Edit" Class="me-2" /> Edit
                    </MudMenuItem>
                    <MudMenuItem OnClick="() => Delete(item)">
                        <MudIcon Icon="@Icons.Material.TwoTone.DeleteSweep" Class="me-2" /> Delete
                    </MudMenuItem>
                </MudMenu>

            </MudTd>
            <MudTd>
                <img src="@(!string.IsNullOrWhiteSpace(item.Pic) ? item.Pic : "images/no-image.png")" alt="Picture" style="width:30px; height:30px; border-radius: 50%;" />
            </MudTd>
            <MudTd>@item.Size</MudTd>
            <MudTd>@item.Price</MudTd>

        </RowTemplate>
    </MudTable>

</MudExpansionPanels>

@code {
    [Parameter] public int CurrentRecord { get; set; } = 0;
    [Parameter] public EventCallback OnSaved { get; set; }

    private ItemsModel record = new();
    private ServingSizeModel servingSize = new();
    private List<ServingSizeModel> servingSizes = new();
    private bool LoadingPanel { get; set; }
    public string? Action { get; set; } = "INSERT";
    private ServingSizeModel? selectedItem = null;

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    private async Task GetAll()
    {
        //LoadingPanel = true;

        record = await Functions.GetAsync<ItemsModel>($"Items/Get?Id={CurrentRecord}", true) ?? new ItemsModel();

        if (!string.IsNullOrWhiteSpace(record.ServingSize))
        {
            try
            {
                servingSizes = JsonSerializer.Deserialize<List<ServingSizeModel>>(record.ServingSize) ?? new();
            }
            catch (Exception ex)
            {
                //Console.WriteLine("JSON Parse Error: " + ex.Message);
                servingSizes = new();
            }
        }
        else
        {
            servingSizes = new();
        }

        //LoadingPanel = false;
    }

    private void AddSize()
    {
        if (string.IsNullOrWhiteSpace(servingSize.Size) || servingSize.Price <= 0)
            return;

        if (Action == "UPDATE" && selectedItem != null)
        {
            selectedItem.Size = servingSize.Size;
            selectedItem.Price = servingSize.Price;
            selectedItem.Pic = servingSize.Pic;
        }
        else
        {
            servingSizes.Add(new ServingSizeModel
            {
                Size = servingSize.Size,
                Price = servingSize.Price,
                Pic = servingSize.Pic
            });
        }

        servingSize = new();
        selectedItem = null;
        Action = "INSERT";

    }

    private async Task Delete(ServingSizeModel item)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        servingSizes.Remove(item);
    }

    protected async Task Edit(ServingSizeModel item)
    {
        servingSize = new ServingSizeModel
        {
            Size = item.Size,
            Price = item.Price,
            Pic = item.Pic
        };

        selectedItem = item;
        Action = "UPDATE";
    }

    private async Task Save()
    {
        try
        {
            LoadingPanel = true;
            record.Id = CurrentRecord;
            record.UpdatedBy = Globals.User.Id;
            record.UpdatedOn = DateTime.Now;
            record.UpdatedFrom = Globals.ClientInfo;
            record.ServingSize = JsonSerializer.Serialize(servingSizes);

            var result = await Functions.PostAsync<ItemsModel>($"Items/ServingSizeUpdate", record, true);
            if (result.Success == false)
            {
                SnackbarService.Add($"Serving Size Not Saved.", Severity.Error);
            }
            else
            {
                await OnSaved.InvokeAsync();
                SnackbarService.Add($"Serving Size Saved Successfully", Severity.Success);
                record = new();
                //servingSizes = new();
            }
        }
        catch (Exception ex)
        {
            Log.Warning($"Error: {ex.Message}");
        }
        finally
        {
            LoadingPanel = false;
        }


    }

    private async Task OnFileInputChanged(InputFileChangeEventArgs e)
    {
        try
        {
            var result = await Functions.FileUpload(e, FileUploadService);

            if (result.Item1 == true)
            {
                servingSize.Pic = result.Item2;
                SnackbarService.Add("File uploaded successfully!", Severity.Success);
            }
            else
            {
                SnackbarService.Add($"Error: {result.Item2}", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            SnackbarService.Add($"Exception: {ex.Message}", Severity.Error);
            record.Pic = null;
        }
    }
}
