@page "/LeaveRequestsPage/{Action}/{CurrentRecord?}/"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">Leave Requests</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">Manage & Maintain Leave Requests</MudText>
                    </div>
                </div>
                <hr />
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">

                    @if (Globals.MyLeave == false)
                    {
                        <div class="col-12 col-md-6 flex-input">
                            <label class="form-label" style="font-weight: bold;">Employee</label>

                            <MudSelect T="int" @bind-Value="record.EmpId" Placeholder="Employee" >
                                @if (Emp != null && Emp.Any())
                                {
                                    foreach (var i in Emp)
                                    {
                                        <MudSelectItem T="int" Value="@i.Id">@i.Fullname</MudSelectItem>
                                    }
                                }
                            </MudSelect>

                            <ValidationMessage For="@(() => record.EmpId)" />
                        </div>

                    }

                    <div class="col-12 col-md-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Leave Type</label>

                        <MudSelect @bind-Value="record.LeaveTypeId" Placeholder="Leave Type">
                            @if (Lea != null && Lea.Any())
                            {
                                foreach (var i in Lea)
                                {
                                    <MudSelectItem T="int" Value="@i.Id">@i.LeaveName</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.LeaveTypeId)" />
                    </div>
                    <div class="row"></div>
                    <div class="col-12 col-md-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">From</label>
                        <MudDatePicker @bind-Value="record.StartDate" Format="yyyy-MM-dd" placeholder="From" ReadOnly="@isReadOnly"></MudDatePicker>
                        <ValidationMessage For="@(() => record.StartDate)" />
                    </div>
                    <div class="col-12 col-md-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">To</label>
                        <MudDatePicker @bind-Value="record.EndDate" Format="yyyy-MM-dd" placeholder="To" ReadOnly="@isReadOnly"></MudDatePicker>
                        <ValidationMessage For="@(() => record.EndDate)" />
                    </div>
                    <div class="col-12 flex-input">
                        <label class="form-label" style="font-weight: bold;">Reason</label>
                        <MudTextField id="Reason" @bind-Value="record.Reason" placeholder="Reason" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Reason)" />
                    </div>
                    <div class="col-12 flex-input">
                        <label class="form-label" style="font-weight: bold;">Address</label>
                        <MudTextField id="ContactAddress" @bind-Value="record.ContactAddress" placeholder="Address" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.ContactAddress)" />
                    </div>
                    <div class="col-12 col-md-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Mobile #</label>
                        <MudTextField id="ContactNumber" @bind-Value="record.ContactNumber" placeholder="Mobile #" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.ContactNumber)" />
                    </div>

                    @if(Globals.MyLeave == false)
                    {
                        <div class="col-12 col-md-6 flex-input">
                            <label class="form-label" style="font-weight: bold;">Approved By</label>
                            <MudSelect T="int?" @bind-Value="record.ApprovedBy" Placeholder="Approved By">
                                <MudSelectItem T="int?" Value="null">-- Select Approver --</MudSelectItem>
                                @if (EmpApproved != null && EmpApproved.Any())
                                {
                                    foreach (var i in EmpApproved)
                                    {
                                        <MudSelectItem T="int?" Value="@i.Id">@i.Fullname</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                        </div>
                        <div class="col-12 col-md-6 flex-input">
                            <label class="form-label" style="font-weight: bold;">Approved Date</label>
                            <MudDatePicker @bind-Value="record.ApprovedDate" Format="yyyy-MM-dd" placeholder="ApprovedDate" ReadOnly="@isReadOnly"></MudDatePicker>
                            <ValidationMessage For="@(() => record.ApprovedDate)" />
                        </div>
                    }
                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    LeaveRequestsModel record = new();
    List<OrganizationsModel> Org = new();
    List<EmployeesModel> Emp = new();
    List<EmployeesModel> EmpApproved = new();
    List<LeaveTypesModel> Lea = new();

    [Parameter] public string? Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;
    [Parameter] public EventCallback OnSaved { get; set; }

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Emp = await Functions.GetAsync<List<EmployeesModel>>($"Employees/Search", true) ?? new List<EmployeesModel>();
        EmpApproved = await Functions.GetAsync<List<EmployeesModel>>($"Employees/Search", true) ?? new List<EmployeesModel>();
        Lea = await Functions.GetAsync<List<LeaveTypesModel>>($"LeaveTypes/Search", true) ?? new List<LeaveTypesModel>();

        if (Action == "INSERT")
        {
            record = new LeaveRequestsModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action == "UPDATE")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action == "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<LeaveRequestsModel>($"LeaveRequests/Get/{id}", true) ?? new LeaveRequestsModel();
        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        if (Emp != null && Emp.Any() && record.EmpId == 0)
            record.EmpId = Emp.First().Id;

        if (Lea != null && Lea.Any() && record.LeaveTypeId == 0)
            record.LeaveTypeId = Lea.First().Id;


        StateHasChanged();
    }

    protected async Task Clear()
    {
        Action = "INSERT";
        record = new LeaveRequestsModel();
        record.IsActive = 1;
        isReadOnly = false;
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        if (record.StartDate.HasValue && record.EndDate.HasValue && record.StartDate.Value >= record.EndDate.Value)
        {
            SnackbarService.Add("Start time must be earlier than end time.", Severity.Warning);
            return;
        }

        LoadingPanel = true;

        if(Globals.MyLeave == false)
        {
            record.Status = "APPROVED";
        }
        else
        {
            record.Status = "PENDING";
        }

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action![0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<LeaveRequestsModel>($"LeaveRequests/{url}", record, true);
        if (result.Success == false)
        {
            SnackbarService.Add($"Record Not Saved", Severity.Error);
        }
        else
        {
            await OnSaved.InvokeAsync();
            SnackbarService.Add($"Record {Action} Successfully", Severity.Success);
            if (url?.Contains("delete", StringComparison.OrdinalIgnoreCase) == false)
                await Edit(result.Result!.Id);
            else
            {
                await Clear();
            }
        }

        LoadingPanel = false;
        await _drawer.CloseDrawerAsync();

    }
}

