@page "/PartiesDashboard"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="row" style="margin: 2px; height: 90vh; display: flex;">

    <MyDrawer @ref="_drawer" Title="Parties" FaIcon="fas fa-address-book">
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <PartiesPage Action="@Action" CurrentRecord="record.Id" />
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    <MyDrawer @ref="_drawerBankDetails" Title="Party Bank Details" FaIcon="fas fa-address-book">
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <PartyBankDetailsPage Action="NO ACTION" CurrentRecord="record.Id" />
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    <MyDrawer @ref="_drawerContacts" Title="Party Contact" FaIcon="fas fa-address-book">
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <PartyContactsPage Action="NO ACTION" CurrentRecord="record.Id" />
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    <MyDrawer @ref="_drawerDocuments" Title="Party Documents" FaIcon="fas fa-address-book">
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <PartyDocumentsPage Action="NO ACTION" CurrentRecord="record.Id" />
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    <MyDrawer @ref="_drawerFinancials" Title="Party Financials" FaIcon="fas fa-address-book">
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <PartyFinancialsPage Action="NO ACTION" CurrentRecord="record.Id" />
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    <MyDrawer @ref="_drawerVehicles" Title="Party Financials" FaIcon="fas fa-address-book">
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <PartyVehiclesPage Action="NO ACTION" CurrentRecord="record.Id" />
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    @if (data == null)
    {
        <SimpleLoading />
    }
    else
    {
        <div class="row">
            <MudDataGrid T="PartiesModel" MultiSelection="false" Items="@data" SortMode="SortMode.Multiple" Filterable="true" Hideable="true" RowsPerPage="10" Dense="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Parties Managment</MudText>
                    <MudSpacer />
                    <MudButton StartIcon="@Icons.Material.TwoTone.Add" Size="MudBlazor.Size.Small" Class="mx-1" Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => Clear())">New</MudButton>
                    <MudButton StartIcon="@Icons.Material.TwoTone.Refresh" Size="MudBlazor.Size.Small" Class="mx-1" Variant="Variant.Filled" Color="Color.Info" OnClick="@(() => Refresh())">Refresh</MudButton>
                </ToolBarContent>

                <Columns>
                  
                    <TemplateColumn Title="Actions" CellStyle="width: 60px; min-width: 60px;">
                        <CellTemplate Context="row">
                            <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Dense="true">
                                <MudMenuItem OnClick="@(() => View(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.Search" Class="me-2" /> View
                                </MudMenuItem>
                                <MudMenuItem OnClick="@(() => Edit(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.Edit" Class="me-2" /> Edit
                                </MudMenuItem>
                                <MudMenuItem OnClick="@(() => Delete(row.Item.Id))" Color="Color.Error">
                                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="me-2" /> Delete
                                </MudMenuItem>
                                <hr />
                                <MudMenuItem OnClick="@(() => Contacts(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.Person" Class="me-2" /> Contacts
                                </MudMenuItem>
                                <MudMenuItem OnClick="@(() => Documents(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.Book" Class="me-2" /> Documents
                                </MudMenuItem>
                                <MudMenuItem OnClick="@(() => Vehicles(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.CarCrash" Class="me-2" /> Vehicles
                                </MudMenuItem>
                                <hr />
                                <MudMenuItem OnClick="@(() => BankDetails(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.AttachMoney" Class="me-2" /> Banking Details
                                </MudMenuItem>
                                <MudMenuItem OnClick="@(() => Financials(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.Money" Class="me-2" /> Financials
                                </MudMenuItem>
                            </MudMenu>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn Title="Picture" CellStyle="width: 50px; min-width: 50px;">
                        <CellTemplate Context="row">
                            <AvatarDisplay Pic="@row.Item.Pic" Name="@row.Item.Name" Size="24" />
                        </CellTemplate>
                    </TemplateColumn>
                    <PropertyColumn Property="x => x.Code" Title="Code" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.Name" Title="Party" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.PartyType" Title="Party Type" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.PartyTypeCode" Title="Party Type Code" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.ParentName" Title="Parent" Sortable="true" Filterable="true"/>
                    <PropertyColumn Property="x => x.Address" Title="Address" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.City" Title="City" Sortable="true" Filterable="true"/>
                    <TemplateColumn Title="Active" CellStyle="width: 50px; min-width: 50px;">
                        <CellTemplate Context="row">
                            @((row.Item.IsActive == 1) ? "" : "Locked")
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>

                <PagerContent>
                    <MudDataGridPager T="PartiesModel" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
</div>

@code
{
    List<PartiesModel> data = new();
    PartiesModel record = new();

    public string Action { get; set; } = "INSERT";

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();
    private MyDrawer _drawerBankDetails = new();
    private MyDrawer _drawerContacts = new();
    private MyDrawer _drawerDocuments = new();
    private MyDrawer _drawerFinancials = new();
    private MyDrawer _drawerVehicles = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        data = await Functions.GetAsync<List<PartiesModel>>($"Parties/Search", true) ?? new List<PartiesModel>();
        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<PartiesModel>($"Parties/Get?Id={id}", true) ?? new PartiesModel();
        LoadingPanel = false;
    }

    protected async Task Clear()
    {
        Action = "INSERT";
        record = new PartiesModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Refresh()
    {
        await GetAll();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task BankDetails(int id)
    {
        await Get(id);
        Action = "INSERT";
        isReadOnly = false;
        await _drawerBankDetails.OpenDrawerAsync();
    }

     protected async Task Contacts(int id)
    {
        await Get(id);
        Action = "INSERT";
        isReadOnly = false;
        await _drawerContacts.OpenDrawerAsync();
    }

    protected async Task Documents(int id)
    {
        await Get(id);
        Action = "INSERT";
        isReadOnly = false;
        await _drawerDocuments.OpenDrawerAsync();
    }

    protected async Task Financials(int id)
    {
        await Get(id);
        Action = "INSERT";
        isReadOnly = false;
        await _drawerFinancials.OpenDrawerAsync();
    }

    protected async Task Vehicles(int id)
    {
        await Get(id);
        Action = "INSERT";
        isReadOnly = false;
        await _drawerVehicles.OpenDrawerAsync();
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Get(id);
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        var result = await Functions.PostAsync<PartiesModel>($"Parties/{Action}", record, true);
        if (result.Success == true)
        {
            SnackbarService.Add($"Record Deleted Successfully", Severity.Success);
        }
        else
        {
            SnackbarService.Add($"Record Not Deleted", Severity.Error);
            record = new();
            isReadOnly = true;
        }

        await GetAll();
        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }

}

