@page "/PartiesPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService
@inject FileUploadService FileUploadService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">@record.Name</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">@record.PartyType</MudText>
                    </div>
                </div>
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                  
                    <div class="col-6 flex-input">
                        <label class="form-label">Code</label>
                        <MudTextField id="Code" @bind-Value="record.Code" placeholder="Code" ReadOnly="true"></MudTextField>
                        <ValidationMessage For="@(() => record.Code)" />
                    </div>
                  
                    <div class="col-6 flex-input">
                        <label class="form-label">Name</label>
                        <MudTextField id="Name" @bind-Value="record.Name" placeholder="Name" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Name)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Party Type</label>

                        <MudSelect T="string"
                                   @bind-Value="record.PartyType"
                                   Placeholder="PartyType"
                                   Clearable="true">

                            @if (Par != null && Par.Any())
                            {
                                if (string.IsNullOrWhiteSpace(record.PartyType))
                                {
                                    record.PartyType = Par.First().ListValue;
                                }

                                foreach (var i in Par)
                                {
                                    <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                                }
                            }
                        </MudSelect>

                        <ValidationMessage For="@(() => record.PartyType)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Sub Type</label>

                        <MudSelect T="string"
                                   @bind-Value="record.PartyTypeCode"
                                   Placeholder="Sub Type"
                                   Clearable="true">

                            @if (Sub != null && Sub.Any())
                            {
                                if (string.IsNullOrWhiteSpace(record.PartyTypeCode))
                                {
                                    record.PartyTypeCode = Sub.First().ListValue;
                                }

                                foreach (var i in Sub)
                                {
                                    <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.PartyTypeCode)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Parent Party</label>

                        <MudSelect @bind-Value="record.ParentId"
                                   Placeholder="Parent Party"
                                   Clearable="true">

                            @if (Parties != null && Parties.Any())
                            {
                                foreach (var i in Parties)
                                {
                                    <MudSelectItem T="int" Value="@i.Id">@i.Name</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.ParentId)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Address</label>
                        <MudTextField id="Address" @bind-Value="record.Address" placeholder="Address" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Address)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">City</label>

                        <MudSelect @bind-Value="record.CityId"
                                   Placeholder="City"
                                   Clearable="true">

                            @if (Cit != null && Cit.Any())
                            {
                                foreach (var i in Cit)
                                {
                                    <MudSelectItem T="int" Value="@i.Id">@i.AreaName</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.CityId)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Latitude</label>
                        <MudTextField id="Latitude" @bind-Value="record.Latitude" placeholder="Latitude" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Latitude)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Longitude</label>
                        <MudTextField id="Longitude" @bind-Value="record.Longitude" placeholder="Longitude" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Longitude)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Radius (meters)</label>
                        <MudNumericField @bind-Value="record.Radius" placeholder="Radius" ReadOnly="@isReadOnly" Format="#,##0.00"></MudNumericField>
                        <ValidationMessage For="@(() => record.Radius)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Active Status</label>

                        <MudSelect T="int"
                                   @bind-Value="record.IsActive"
                                   Placeholder="Active"
                                   Clearable="true">

                            @if (record.IsActive != 0 && record.IsActive != 1)
                            {
                                record.IsActive = 1;
                            }

                            <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                            <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.IsActive)" />
                    </div>

                    <div class="w-100 d-flex justify-content-center">
                        <div class="p-3 border rounded" style="width: 300px;">
                            <label class="small fw-bold text-uppercase d-block mb-2 text-center">Items Image</label>

                            <div class="d-flex justify-content-center align-items-center mb-3" style="height: 150px;">
                                @if (!string.IsNullOrEmpty(record.Pic))
                                {
                                    <img src="@record.Pic"
                                         class="img-fluid rounded"
                                         alt="Items Image"
                                         style="max-height: 100%; max-width: 100%; object-fit: cover;" />
                                }
                                else
                                {
                                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle"
                                         style="width: 120px; height: 120px;">
                                        <i class="fas fa-image text-white fs-3"></i>
                                    </div>
                                }
                            </div>

                            <InputFile OnChange="OnFileInputChanged" />
                        </div>
                    </div>
                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    PartiesModel record = new();
    List<OrganizationsModel> Org = new();
    List<TypeCodeModel> Par = null!;
    List<TypeCodeModel> Sub = null!;
    List<PartiesModel> Parties = new();
    List<AreasModel> Cit = new();


    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Par = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/PARTY TYPE", true) ?? new List<TypeCodeModel>();
        Sub = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/PARTY TYPE CODE", true) ?? new List<TypeCodeModel>();
        Parties = await Functions.GetAsync<List<PartiesModel>>($"Parties/Search", true) ?? new List<PartiesModel>();
        Cit = await Functions.GetAsync<List<AreasModel>>($"Areas/Search", true) ?? new List<AreasModel>();


        if (Action == "INSERT")
        {
            record = new PartiesModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action != "UPDATE")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action != "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<PartiesModel>($"Parties/Get?Id={id}", true) ?? new PartiesModel();
        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        if (Org != null && Org.Any() && record.OrganizationId == 0)
            record.OrganizationId = Org.First().Id;
        if (Par != null && Par.Any() && record.ParentId == 0)
            record.ParentId = Par.First().Id;
        if (Cit != null && Cit.Any() && record.CityId == 0)
            record.CityId = Cit.First().Id;


        StateHasChanged();
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new PartiesModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<PartiesModel>($"Parties/{url}", record, true);
        if (result.Success == false)
        {
            await Functions.ShowMessage(dialogService, "error", $"Record Not Saved");
        }
        else
        {
            await Functions.ShowMessage(dialogService, "success", $"Record {Action} Successfully");
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }

    private async Task OnFileInputChanged(InputFileChangeEventArgs e)
    {
        try
        {
            var result = await Functions.FileUpload(e, FileUploadService);

            if (result.Item1 == true)
            {
                record.Pic = result.Item2;
                SnackbarService.Add("File uploaded successfully!", Severity.Success);
            }
            else
            {
                SnackbarService.Add($"Error: {result.Item2}", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            SnackbarService.Add($"Exception: {ex.Message}", Severity.Error);
            record.Pic = null;
        }
    }
}

