@page "/OrganizationsPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService
@inject FileUploadService FileUploadService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px; width: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">@record.Name</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">Description</MudText>
                    </div>
                </div>
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight:500;">Code</label>
                        <MudTextField id="Code" @bind-Value="record.Code" placeholder="Code" ReadOnly="true"></MudTextField>
                        <ValidationMessage For="@(() => record.Code)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Name</label>
                        <MudTextField id="Name" @bind-Value="record.Name" placeholder="Name" ReadOnly="false"></MudTextField>
                        <ValidationMessage For="@(() => record.Name)" />
                    </div>
                    <div class="col-12 flex-input">
                        <label class="form-label" style="font-weight: bold;">Description</label>
                        <MudTextField id="Description" @bind-Value="record.Description" placeholder="Description" ReadOnly="false"></MudTextField>
                        <ValidationMessage For="@(() => record.Description)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Phone</label>
                        <MudTextField id="Phone" @bind-Value="record.Phone" placeholder="Phone" ReadOnly="false"></MudTextField>
                        <ValidationMessage For="@(() => record.Phone)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Email</label>
                        <MudTextField id="Email" @bind-Value="record.Email" placeholder="Email" ReadOnly="false"></MudTextField>
                        <ValidationMessage For="@(() => record.Email)" />
                    </div>
                    <div class="col-12 flex-input">
                        <label class="form-label" style="font-weight: bold;">Address</label>
                        <MudTextField id="Address" @bind-Value="record.Address" placeholder="Address" ReadOnly="false"></MudTextField>
                        <ValidationMessage For="@(() => record.Address)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Industry</label>
                        <MudSelect T="string" @bind-Value="record.Industry" ReadOnly="true">
                            @if (Industry != null)
                            {
                                foreach (var ind in Industry)
                                {
                                    <MudSelectItem T="string" Value="@ind.ListValue">@ind.ListValue</MudSelectItem>
                                }
                            }
                        </MudSelect>

                        <ValidationMessage For="@(() => record.Industry)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Website</label>
                        <MudTextField id="Website" @bind-Value="record.Website" placeholder="Website" ReadOnly="false"></MudTextField>
                        <ValidationMessage For="@(() => record.Website)" />
                    </div>
                    <div class="col-12 flex-input">
                        <label class="form-label" style="font-weight: bold;">Time Zone</label>
                        <MudSelect T="string" @bind-Value="record.TimeZone" ReadOnly="false">
                            @if (timeZones != null)
                            {
                                @foreach (var tz in timeZones)
                                {
                                    <MudSelectItem T="string" Value="@tz.Id">@tz.DisplayName</MudSelectItem>
                                }
                            }
                        </MudSelect>

                        <ValidationMessage For="@(() => record.TimeZone)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">GMT</label>
                        <MudNumericField @bind-Value="record.GMT" placeholder="GMT" ReadOnly="false" Format="#,##0.00"></MudNumericField>
                        <ValidationMessage For="@(() => record.GMT)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Expiry</label>
                        <MudDatePicker @bind-Value="record.Expiry" Format="yyyy-MM-dd" placeholder="Expiry" ReadOnly="true"></MudDatePicker>
                        <ValidationMessage For="@(() => record.Expiry)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Parent Organization</label>

                        <MudSelect @bind-Value="record.ParentId"
                                   Placeholder="Parent"
                                   Clearable="true">

                            @if (Par != null && Par.Any())
                            {
                                foreach (var i in Par)
                                {
                                    <MudSelectItem T="int" Value="@i.Id">@i.Name</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.ParentId)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Active</label>

                        <MudSelect T="int"
                                   @bind-Value="record.IsActive"
                                   Placeholder="Active"
                                   Clearable="true">

                            @if (record.IsActive != 0 && record.IsActive != 1)
                            {
                                record.IsActive = 1;
                            }

                            <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                            <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.IsActive)" />
                    </div>

                    <div class="w-100 d-flex justify-content-center">
                        <div class="p-3 border rounded" style="width: 300px;">
                            <label class="small fw-bold text-uppercase d-block mb-2 text-center">Logo</label>

                            <div class="d-flex justify-content-center align-items-center mb-3" style="height: 150px;">
                                @if (!string.IsNullOrEmpty(record.Logo))
                                {
                                    <img src="@record.Logo"
                                         class="img-fluid rounded"
                                         alt="Company Logo"
                                         style="max-height: 100%; max-width: 100%; object-fit: cover;" />
                                }
                                else
                                {
                                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle"
                                         style="width: 120px; height: 120px;">
                                        <i class="fas fa-image text-white fs-3"></i>
                                    </div>
                                }
                            </div>

                            <InputFile OnChange="OnFileInputChanged" />
                        </div>
                    </div>

                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    OrganizationsModel record = new();
    List<OrganizationsModel> Par = new();
    List<TypeCodeModel> Industry = null!;
    List<TimeZoneInfo> timeZones = null!;

    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Par = await Functions.GetAsync<List<OrganizationsModel>>($"Organizations/Search", true) ?? new List<OrganizationsModel>();
        timeZones = new List<TimeZoneInfo>(TimeZoneInfo.GetSystemTimeZones());
        Industry = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/ListName/INDUSTRY", true) ?? new List<TypeCodeModel>();

        if (Action == "INSERT")
        {
            record = new OrganizationsModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action != "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action != "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<OrganizationsModel>($"Organizations/Get?Id={id}", true) ?? new OrganizationsModel();
        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        if (Par != null && Par.Any() && record.ParentId == 0)
            record.ParentId = Par.First().Id;

        StateHasChanged();
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new OrganizationsModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<OrganizationsModel>($"Organizations/{url}", record, true);
        if (result.Success == false)
        {
            await Functions.ShowMessage(dialogService, "error", $"Record Not Saved");
        }
        else
        {
            await Functions.ShowMessage(dialogService, "success", $"Record {Action} Successfully");
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }

    private async Task OnFileInputChanged(InputFileChangeEventArgs e)
    {
        try
        {
            var result = await Functions.FileUpload(e, FileUploadService);

            if (result.Item1 == true)
            {
                record.Logo = result.Item2;
                SnackbarService.Add("File uploaded successfully!", Severity.Success);
            }
            else
            {
                SnackbarService.Add($"Error: {result.Item2}", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            SnackbarService.Add($"Exception: {ex.Message}", Severity.Error);
            record.Logo = null;
        }
    }

    protected async Task SetParent(int id)
    {
        await Get(id);
        record.ParentId = 0;
        isReadOnly = false;
        await Save();
    }
}

