@page "/LocationsPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px; width: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">@record.Name</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">Description</MudText>
                    </div>
                </div>
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Code</label>
                        <MudTextField id="Code" @bind-Value="record.Code" placeholder="Code" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Code)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Name</label>
                        <MudTextField id="Name" @bind-Value="record.Name" placeholder="Name" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Name)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Address</label>
                        <MudTextField id="Address" @bind-Value="record.Address" placeholder="Address" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Address)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">POC Name</label>
                        <MudTextField id="PocName" @bind-Value="record.PocName" placeholder="POC Name" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.PocName)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">POC Email</label>
                        <MudTextField id="PocEmail" @bind-Value="record.PocEmail" placeholder="POC Email" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.PocEmail)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">POC Phone</label>
                        <MudTextField id="PocPhone" @bind-Value="record.PocPhone" placeholder="POC Phone" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.PocPhone)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Location Type</label>

                        <MudSelect T="string"
                                   @bind-Value="record.LocationType"
                                   Placeholder="LocationType"
                                   Clearable="true">

                            @if (Loc != null && Loc.Any())
                            {
                                if (string.IsNullOrWhiteSpace(record.LocationType))
                                {
                                    record.LocationType = Loc.First().ListValue;
                                }

                                foreach (var i in Loc)
                                {
                                    <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                                }
                            }
                        </MudSelect>

                        <ValidationMessage For="@(() => record.LocationType)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Latitude</label>
                        <MudTextField id="Latitude" @bind-Value="record.Latitude" placeholder="Latitude" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Latitude)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Longitude</label>
                        <MudTextField id="Longitude" @bind-Value="record.Longitude" placeholder="Longitude" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Longitude)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Radius</label>
                        <MudNumericField @bind-Value="record.Radius" placeholder="Radius" ReadOnly="@isReadOnly" Format="#,##0.00"></MudNumericField>
                        <ValidationMessage For="@(() => record.Radius)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Active</label>

                        <MudSelect T="int"
                                   @bind-Value="record.IsActive"
                                   Placeholder="Active"
                                   Clearable="true">

                            @if (record.IsActive != 0 && record.IsActive != 1)
                            {
                                record.IsActive = 1;
                            }

                            <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                            <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.IsActive)" />
                    </div>

                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    LocationsModel record = new();
    List<TypeCodeModel> Loc = null!;


    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {

        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Loc = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/LOCATION TYPE", true) ?? new List<TypeCodeModel>();


        if (Action == "INSERT")
        {
            record = new LocationsModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action == "UPDATE")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action == "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<LocationsModel>($"Locations/Get/{id}", true) ?? new LocationsModel();
        LoadingPanel = false;
    }

    protected async Task Clear()
    {
        Action = "INSERT";
        record = new LocationsModel();
        record.IsActive = 1;
        isReadOnly = false;
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
    }

    protected void GetDefaultValues()
    {
        StateHasChanged();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<LocationsModel>($"Locations/{url}", record, true);
        if (result.Success == false)
        {
            SnackbarService.Add($"Record Not Saved", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record {Action} Successfully", Severity.Success);
            if (url?.Contains("delete", StringComparison.OrdinalIgnoreCase) == false)
                await Edit(result.Result!.Id);
            else
            {
                await Clear();
            }
        }

        LoadingPanel = false;
        await _drawer.CloseDrawerAsync();

    }
}

