@page "/LocationsPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">
            <div class="row" style="width:100%; display: flex;">
                <div class="col-6 mb-3">
                    <MudTextField Label="Code" id="Code" @bind-Value="record.Code" Variant="Variant.Filled" placeholder="Code" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.Code)" />
                </div>
                <div class="col-6 mb-3">
                    <MudTextField Label="Name" id="Name" @bind-Value="record.Name" Variant="Variant.Filled" placeholder="Name" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.Name)" />
                </div>
                <div class="col-6 mb-3">
                    <MudTextField Label="Address" id="Address" @bind-Value="record.Address" Variant="Variant.Filled" placeholder="Address" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.Address)" />
                </div>
                <div class="col-6 mb-3">
                    <MudTextField Label="Point of Contact" id="PocName" @bind-Value="record.PocName" Variant="Variant.Filled" placeholder="Point of Contact" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.PocName)" />
                </div>
                <div class="col-6 mb-3">
                    <MudTextField Label="Email" id="PocEmail" @bind-Value="record.PocEmail" Variant="Variant.Filled" placeholder="Email" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.PocEmail)" />
                </div>
                <div class="col-6 mb-3">
                    <MudTextField Label="Phone" id="PocPhone" @bind-Value="record.PocPhone" Variant="Variant.Filled" placeholder="Phone" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.PocPhone)" />
                </div>
                <div class="col-6 mb-3">

                    <MudSelect T="string"
                               @bind-Value="record.LocationType"
                               Label="Location Type"
                               Variant="Variant.Filled"
                               Dense="true"
                               Placeholder="Location Type"
                               HelperText="Select Location Type"
                               HelperTextOnFocus="true"
                               Clearable="true">

                        @if (Loc != null && Loc.Any())
                        {
                            if (string.IsNullOrWhiteSpace(record.LocationType))
                            {
                                record.LocationType = Loc.First().ListValue;
                            }

                            foreach (var i in Loc)
                            {
                                <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                            }
                        }
                    </MudSelect>

                    <ValidationMessage For="@(() => record.LocationType)" />
                </div>
                <div class="col-6 mb-3">
                    <MudTextField Label="Latitude" id="Latitude" @bind-Value="record.Latitude" Variant="Variant.Filled" placeholder="Latitude" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.Latitude)" />
                </div>
                <div class="col-6 mb-3">
                    <MudTextField Label="Longitude" id="Longitude" @bind-Value="record.Longitude" Variant="Variant.Filled" placeholder="Longitude" ReadOnly="@isReadOnly"></MudTextField>
                    <ValidationMessage For="@(() => record.Longitude)" />
                </div>
                <div class="col-6 mb-3">
                    <MudNumericField Label="Radius" @bind-Value="record.Radius" Variant="Variant.Filled" placeholder="Radius" ReadOnly="@isReadOnly" Format="#,##0.00"></MudNumericField>
                    <ValidationMessage For="@(() => record.Radius)" />
                </div>
                <div class="col-6 mb-3">

                    <MudSelect T="int"
                               @bind-Value="record.IsActive"
                               Label="Active"
                               Variant="Variant.Filled"
                               Dense="true"
                               Placeholder="Active"
                               HelperText="Select Active"
                               HelperTextOnFocus="true"
                               Clearable="true">

                        @if (record.IsActive != 0 && record.IsActive != 1)
                        {
                            record.IsActive = 1;
                        }

                        <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                        <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                    </MudSelect>

                    <ValidationMessage For="@(() => record.IsActive)" />
                </div>
            </div>
        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    static LocationsModel record = new();
    List<TypeCodeModel> Loc = null!;


    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Loc = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/LOCATION TYPE", true) ?? new List<TypeCodeModel>();

        if (Action == "INSERT")
        {
            record = new LocationsModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else
        {
            await Get(CurrentRecord);
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<LocationsModel>($"Locations/Get?Id={id}", true) ?? new LocationsModel();
        LoadingPanel = false;
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new LocationsModel();
        record.IsActive = 1;
        record.Radius = 10;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<LocationsModel>($"Locations/{url}", record, true);
        if (result.Success == false)
        {
            await Functions.ShowMessage(dialogService, "error", $"Record Not Saved");
        }
        else
        {
            await Functions.ShowMessage(dialogService, "success", $"Record {Action} Successfully");
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }
}

