@page "/EmployeesPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService
@inject FileUploadService FileUploadService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px; width: 100px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">@record.Fullname</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">@record.Phone @record.Email</MudText>
                    </div>
                </div>
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Empid</label>
                        <MudTextField id="EmpId" @bind-Value="record.EmpId" placeholder="EmpId" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.EmpId)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Fullname</label>
                        <MudTextField id="Fullname" @bind-Value="record.Fullname" placeholder="Fullname" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Fullname)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Phone</label>
                        <MudTextField id="Phone" @bind-Value="record.Phone" placeholder="Phone" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Phone)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Email</label>
                        <MudTextField id="Email" @bind-Value="record.Email" placeholder="Email" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Email)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">CNIC</label>
                        <MudTextField id="Cnic" @bind-Value="record.Cnic" placeholder="CNIC" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Cnic)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Empaddress</label>
                        <MudTextField id="Address" @bind-Value="record.EmpAddress" placeholder="Address" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.EmpAddress)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Employee Type</label>

                        <MudSelect T="string"
                                   @bind-Value="record.EmpType"
                                   Placeholder="Employee Type"
                                   Clearable="true">

                            @if (Emp != null && Emp.Any())
                            {
                                if (string.IsNullOrWhiteSpace(record.EmpType))
                                {
                                    record.EmpType = Emp.First().ListValue;
                                }

                                foreach (var i in Emp)
                                {
                                    <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                                }
                            }
                        </MudSelect>

                        <ValidationMessage For="@(() => record.EmpType)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Empdept</label>
                        <MudTextField id="Department" @bind-Value="record.EmpDept" placeholder="Department" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.EmpDept)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Location</label>

                        <MudSelect @bind-Value="record.LocationId"
                                   Placeholder="Location"
                                   Clearable="true">

                            @if (Loc != null && Loc.Any())
                            {
                                foreach (var i in Loc)
                                {
                                    <MudSelectItem T="int" Value="@i.Id">@i.Name</MudSelectItem>
                                }
                            }
                        </MudSelect>
                        <ValidationMessage For="@(() => record.LocationId)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Active</label>

                        <MudSelect T="int"
                                   @bind-Value="record.IsActive"
                                   Placeholder="Active"
                                   Clearable="true">

                            @if (record.IsActive != 0 && record.IsActive != 1)
                            {
                                record.IsActive = 1;
                            }

                            <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                            <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.IsActive)" />
                    </div>

                    <div class="w-100 d-flex justify-content-center">
                        <div class="p-3 border rounded" style="width: 300px;">
                            <label class="small fw-bold text-uppercase d-block mb-2 text-center">Logo</label>

                            <div class="d-flex justify-content-center align-items-center mb-3" style="height: 150px;">
                                @if (!string.IsNullOrEmpty(record.Pic))
                                {
                                    <img src="@record.Pic"
                                         class="img-fluid rounded"
                                         alt="Company Logo"
                                         style="max-height: 100%; max-width: 100%; object-fit: cover;" />
                                }
                                else
                                {
                                    <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle"
                                         style="width: 120px; height: 120px;">
                                        <i class="fas fa-image text-white fs-3"></i>
                                    </div>
                                }
                            </div>

                            <InputFile OnChange="OnFileInputChanged" />
                        </div>
                    </div>
                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    EmployeesModel record = new();
    List<OrganizationsModel> Org = new();
    List<TypeCodeModel> Emp = null!;
    List<LocationsModel> Loc = new();
    List<EmployeesModel> Par = new();


    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Emp = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/EMPLOYEE TYPE", true) ?? new List<TypeCodeModel>();
        Loc = await Functions.GetAsync<List<LocationsModel>>($"Locations/Search", true) ?? new List<LocationsModel>();
        Par = await Functions.GetAsync<List<EmployeesModel>>($"Parent/Search", true) ?? new List<EmployeesModel>();

        if (Action == "INSERT")
        {
            record = new EmployeesModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action != "UPDATE")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action != "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<EmployeesModel>($"Employees/Get?Id={id}", true) ?? new EmployeesModel();
        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        if (Org != null && Org.Any() && record.OrganizationId == 0)
            record.OrganizationId = Org.First().Id;
        if (Loc != null && Loc.Any() && record.LocationId == 0)
            record.LocationId = Loc.First().Id;
        if (Par != null && Par.Any() && record.ParentId == 0)
            record.ParentId = Par.First().Id;


        StateHasChanged();
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new EmployeesModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<EmployeesModel>($"Employees/{url}", record, true);
        if (result.Success == false)
        {
            await Functions.ShowMessage(dialogService, "error", $"Record Not Saved");
        }
        else
        {
            await Functions.ShowMessage(dialogService, "success", $"Record {Action} Successfully");
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }

    private async Task OnFileInputChanged(InputFileChangeEventArgs e)
    {
        try
        {
            var result = await Functions.FileUpload(e, FileUploadService);

            if (result.Item1 == true)
            {
                record.Pic = result.Item2;
                SnackbarService.Add("File uploaded successfully!", Severity.Success);
            }
            else
            {
                SnackbarService.Add($"Error: {result.Item2}", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            SnackbarService.Add($"Exception: {ex.Message}", Severity.Error);
            record.Pic = null;
        }
    }
}

