@page "/EmployeesPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService
@inject FileUploadService FileUploadService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Color="Color.Info" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" Color="Color.Error" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded" style="gap: 10px;">

                    <i class="fa fa-info-circle"
                       style="display:inline-block; width:40px; height:40px; font-size:24px; line-height:40px; text-align:center; border-radius:5%;">
                    </i>

                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold">Employees</MudText>
                        <MudText Typo="Typo.caption" Class="text-muted">Manage & Maintain Employees</MudText>
                    </div>
                </div>
                <hr />
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                   
                    <div class="col-12 flex-input">
                        <label class="form-label" style="font-weight: bold;">Name</label>
                        <MudTextField id="Fullname" @bind-Value="record.Fullname" placeholder="Name" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Fullname)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Employee Id/Code</label>
                        <MudTextField id="EmpId" @bind-Value="record.EmpId" placeholder="Employee Id/Code" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.EmpId)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Phone</label>
                        <MudTextField id="Phone" @bind-Value="record.Phone" placeholder="Phone" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Phone)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">Email</label>
                        <MudTextField id="Email" @bind-Value="record.Email" placeholder="Email" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Email)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label" style="font-weight: bold;">CNIC/SSN</label>
                        <MudTextField id="Cnic" @bind-Value="record.Cnic" placeholder="CNIC / SSN" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Cnic)" />
                    </div>
                    <div class="col-12 flex-input">
                        <label class="form-label" style="font-weight: bold;">Address</label>
                        <MudTextField id="Address" @bind-Value="record.Address" placeholder="Address" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.Address)" />
                    </div>


                </div>

                <div class="row">

                    <div class="col-6">
                        <div class="col-12 flex-input">
                            <label class="form-label" style="font-weight: bold;">Type</label>

                            <MudSelect T="string"
                                       @bind-Value="record.EmpType"
                                       Placeholder="Type"
                                       Clearable="true">

                                @if (Emp != null && Emp.Any())
                                {
                                    if (string.IsNullOrWhiteSpace(record.EmpType))
                                    {
                                        record.EmpType = Emp.First().ListValue;
                                    }

                                    foreach (var i in Emp)
                                    {
                                        <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                                    }
                                }
                            </MudSelect>

                            <ValidationMessage For="@(() => record.EmpType)" />
                        </div>
                        <div class="col-12 flex-input">
                            <label class="form-label" style="font-weight: bold;">Department</label>
                            <AutoComplete TItem="DepartmentsModel"
                                          DataList="@Dep"
                                          IdProperty="@(e => e.Id)"
                                          DisplayProperty="@(e => e.DepartmentName)"
                                          SelectedId="@record.DepartmentId"
                                          SelectedIdChanged="@(id => record.DepartmentId = id)" />

                            <ValidationMessage For="@(() => record.DepartmentId)" />
                        </div>
                        <div class="col-12 flex-input">
                            <label class="form-label" style="font-weight: bold;">Designation</label>
                            <AutoComplete TItem="DesignationsModel"
                                          DataList="@Des"
                                          IdProperty="@(e => e.Id)"
                                          DisplayProperty="@(e => e.DesignationName)"
                                          SelectedId="@record.DesignationId"
                                          SelectedIdChanged="@(id => record.DesignationId = id)" />

                            <ValidationMessage For="@(() => record.DesignationId)" />
                        </div>
                        <div class="col-12 flex-input">
                            <label class="form-label" style="font-weight: bold;">Shift</label>

                            <MudSelect @bind-Value="record.ShiftId"
                                       Placeholder="Shift"
                                       Clearable="true">

                                @if (Shi != null && Shi.Any())
                                {
                                    foreach (var i in Shi)
                                    {
                                        <MudSelectItem T="int" Value="@i.Id">@i.ShiftName</MudSelectItem>
                                    }
                                }
                            </MudSelect>
                            <ValidationMessage For="@(() => record.ShiftId)" />
                        </div>
                        <div class="col-12 flex-input">
                            <label class="form-label" style="font-weight: bold;">Location</label>
                            <AutoComplete TItem="LocationsModel"
                                          DataList="@Loc"
                                          IdProperty="@(e => e.Id)"
                                          DisplayProperty="@(e => e.Name)"
                                          SelectedId="@record.LocationId"
                                          SelectedIdChanged="@(id => record.LocationId = id)" />

                            <ValidationMessage For="@(() => record.LocationId)" />
                        </div>

                        <div class="col-12 flex-input">
                            <label class="form-label" style="font-weight: bold;">Report To</label>
                            <AutoComplete TItem="EmployeesModel"
                                          DataList="@Par"
                                          IdProperty="@(e => e.Id)"
                                          DisplayProperty="@(e => e.Fullname)"
                                          SelectedId="@record.LocationId"
                                          SelectedIdChanged="@(id => record.ParentId = id)" />

                            <ValidationMessage For="@(() => record.ParentId)" />
                        </div>

                        <div class="col-12 flex-input">
                            <label class="form-label" style="font-weight: bold;">Ex.From Att.</label>

                            <MudSelect T="int"
                                       @bind-Value="record.ExcludeFromAttendance"
                                       Placeholder="Exclude From Attendance"
                                       Clearable="true">

                                @if (record.ExcludeFromAttendance != 0 && record.ExcludeFromAttendance != 1)
                                {
                                    record.ExcludeFromAttendance = 1;
                                }

                                <MudSelectItem T="int" Value="1">Yes</MudSelectItem>
                                <MudSelectItem T="int" Value="0">No</MudSelectItem>
                            </MudSelect>

                            <ValidationMessage For="@(() => record.IsActive)" />
                        </div>
                        <div class="col-12 flex-input">
                            <label class="form-label" style="font-weight: bold;">Active</label>

                            <MudSelect T="int"
                                       @bind-Value="record.IsActive"
                                       Placeholder="Active"
                                       Clearable="true">

                                @if (record.IsActive != 0 && record.IsActive != 1)
                                {
                                    record.IsActive = 1;
                                }

                                <MudSelectItem T="int" Value="1">Yes</MudSelectItem>
                                <MudSelectItem T="int" Value="0">No</MudSelectItem>
                            </MudSelect>

                            <ValidationMessage For="@(() => record.IsActive)" />
                        </div>

                    </div>

                    <div class="col-6">
                        <div class="w-100 d-flex justify-content-center">
                            <div class="p-3 border rounded" style="width: 300px;">
                                <label class="small fw-bold text-uppercase d-block mb-2 text-center">Logo</label>

                                <div class="d-flex justify-content-center align-items-center mb-3" style="height: 150px;">
                                    @if (!string.IsNullOrEmpty(record.Pic))
                                    {
                                        <img src="@record.Pic"
                                             class="img-fluid rounded"
                                             alt="Company Logo"
                                             style="max-height: 100%; max-width: 100%; object-fit: cover;" />
                                    }
                                    else
                                    {
                                        <div class="d-flex align-items-center justify-content-center bg-secondary rounded-circle"
                                             style="width: 120px; height: 120px;">
                                            <i class="fas fa-image text-white fs-3"></i>
                                        </div>
                                    }
                                </div>

                                <InputFile OnChange="OnFileInputChanged" />
                            </div>
                        </div>
                    </div>

                   
                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    EmployeesModel record = new();
    List<OrganizationsModel> Org = new();
    List<TypeCodeModel> Emp = null!;
    List<DepartmentsModel> Dep = new();
    List<DesignationsModel> Des = new();
    List<ShiftsModel> Shi = new();
    List<LocationsModel> Loc = new();
    List<EmployeesModel> Par = new();

    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        GetDefaultValues();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Emp = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/EMPLOYEE TYPE", true) ?? new List<TypeCodeModel>();
        Dep = await Functions.GetAsync<List<DepartmentsModel>>($"Departments/Search", true) ?? new List<DepartmentsModel>();
        Des = await Functions.GetAsync<List<DesignationsModel>>($"Designations/Search", true) ?? new List<DesignationsModel>();
        Shi = await Functions.GetAsync<List<ShiftsModel>>($"Shifts/Search", true) ?? new List<ShiftsModel>();
        Loc = await Functions.GetAsync<List<LocationsModel>>($"Locations/Search", true) ?? new List<LocationsModel>();
        Par = await Functions.GetAsync<List<EmployeesModel>>($"Employees/Search", true) ?? new List<EmployeesModel>();

        if (Action == "INSERT")
        {
            record = new EmployeesModel();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else if (Action == "UPDATE")
        {
            await Get(CurrentRecord);
            isReadOnly = false;
        }
        else if (Action == "VIEW")
        {
            await Get(CurrentRecord);
            isReadOnly = true;
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<EmployeesModel>($"Employees/Get/{id}", true) ?? new EmployeesModel();
        LoadingPanel = false;
    }

    protected void GetDefaultValues()
    {

        if (Dep != null && Dep.Any() && record.DepartmentId == 0)
            record.DepartmentId = Dep.First().Id;
        if (Des != null && Des.Any() && record.DesignationId == 0)
            record.DesignationId = Des.First().Id;
        if (Shi != null && Shi.Any() && record.ShiftId == 0)
            record.ShiftId = Shi.First().Id;
        if (Loc != null && Loc.Any() && record.LocationId == 0)
            record.LocationId = Loc.First().Id;
        if (Par != null && Par.Any() && record.ParentId == 0)
            record.ParentId = Par.First().Id;


        StateHasChanged();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<EmployeesModel>($"Employees/{url}", record, true);
        if (result.Success == false)
        {
            SnackbarService.Add($"Record Not Saved", Severity.Error);
        }
        else
        {
            SnackbarService.Add($"Record {Action} Successfully", Severity.Success);
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawerAsync();

    }

    private async Task OnFileInputChanged(InputFileChangeEventArgs e)
    {
        try
        {
            var result = await Functions.FileUpload(e, FileUploadService);

            if (result.Item1 == true)
            {
                record.Pic = result.Item2;
                SnackbarService.Add("File uploaded successfully!", Severity.Success);
            }
            else
            {
                SnackbarService.Add($"Error: {result.Item2}", Severity.Error);
            }
        }
        catch (Exception ex)
        {
            SnackbarService.Add($"Exception: {ex.Message}", Severity.Error);
            record.Pic = null;
        }
    }
}

