@page "/EmployeesDashboard"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="row" style="margin: 2px; height: 90vh; display: flex;">
    <MyDrawer @ref="_drawer" Title="Employees" FaIcon="fas fa-id-badge" >

        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <EmployeesPage Action="@Action" CurrentRecord="record.Id" />
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    @if (data == null)
    {
        <SimpleLoading />
    }
    else
    {
        <div class="row">
            <MudDataGrid T="EmployeesModel" MultiSelection="false" Items="@data" SortMode="SortMode.Multiple" Filterable="true" Hideable="true" RowsPerPage="10" Dense="true">
                <ToolBarContent>
                    <MudText Typo="Typo.h6">Employees Managment</MudText>
                    <MudSpacer />
                    @if (AccessLevel == 1)
                    {
                        <MudButton StartIcon="@Icons.Material.TwoTone.Add" Size="MudBlazor.Size.Small" Class="mx-1" Variant="Variant.Filled" Color="Color.Success" OnClick="@(() => Clear())">New</MudButton>
                    }
                    <MudButton StartIcon="@Icons.Material.TwoTone.Refresh" Size="MudBlazor.Size.Small" Class="mx-1" Variant="Variant.Filled" Color="Color.Info" OnClick="@(() => Refresh())">Refresh</MudButton>
                </ToolBarContent>

                <Columns>
                   
                    <TemplateColumn Title="Actions" CellStyle="width: 60px; min-width: 60px;">
                        <CellTemplate Context="row">
                            <MudMenu Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Dense="true">
                                <MudMenuItem OnClick="@(() => View(row.Item.Id))">
                                    <MudIcon Icon="@Icons.Material.Filled.Search" Class="me-2" /> View
                                </MudMenuItem>
                                @if (AccessLevel == 1)
                                {
                                    <MudMenuItem OnClick="@(() => Edit(row.Item.Id))">
                                        <MudIcon Icon="@Icons.Material.Filled.Edit" Class="me-2" /> Edit
                                    </MudMenuItem>
                                    <MudMenuItem OnClick="@(() => Delete(row.Item.Id))" Color="Color.Error">
                                        <MudIcon Icon="@Icons.Material.Filled.Delete" Class="me-2" /> Delete
                                    </MudMenuItem>
                                }
                            </MudMenu>
                        </CellTemplate>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.EmpId" Title="EmpId" Sortable="true" Filterable="true" />
                    <TemplateColumn Title="Picture" CellStyle="width: 50px; min-width: 50px;">
                        <CellTemplate Context="row">
                            <img src="@(!string.IsNullOrWhiteSpace(row.Item.Pic) ? row.Item.Pic : "images/no-image.png")" alt="Picture" style="width:30px; height:30px; border-radius: 50%;" />
                        </CellTemplate>
                    </TemplateColumn>                   
                    
                    <PropertyColumn Property="x => x.Fullname" Title="Fullname" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.DesignationName" Title="Designation" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.DepartmentName" Title="Department" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.Phone" Title="Phone" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.Email" Title="Email" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.Cnic" Title="NIC" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.Address" Title="Address" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.EmpType" Title="Type" Sortable="true" Filterable="true" />
                    <PropertyColumn Property="x => x.DepartmentId" Title="DepartmentId" Sortable="true" Filterable="true" Format="#,##0.00" CellStyle="text-align: right;" />
                    <PropertyColumn Property="x => x.DesignationId" Title="DesignationId" Sortable="true" Filterable="true" Format="#,##0.00" CellStyle="text-align: right;" />
                    <PropertyColumn Property="x => x.ShiftId" Title="ShiftId" Sortable="true" Filterable="true" Format="#,##0.00" CellStyle="text-align: right;" />
                    <PropertyColumn Property="x => x.LocationId" Title="LocationId" Sortable="true" Filterable="true" Format="#,##0.00" CellStyle="text-align: right;" />
                    <PropertyColumn Property="x => x.ParentId" Title="ParentId" Sortable="true" Filterable="true" Format="#,##0.00" CellStyle="text-align: right;" />
                    <TemplateColumn Title="Active" CellStyle="width: 50px; min-width: 50px;">
                        <CellTemplate Context="row">
                            @((row.Item.IsActive == 1) ? "" : "Locked")
                        </CellTemplate>
                    </TemplateColumn>

                </Columns>

                <PagerContent>
                    <MudDataGridPager T="EmployeesModel" />
                </PagerContent>
            </MudDataGrid>
        </div>
    }
</div>

@code
{
    List<EmployeesModel> data = new();
    EmployeesModel record = new();

    public string Action { get; set; } = "INSERT";

    bool isReadOnly = true;
    public int AccessLevel { get; set; } = 0;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        AccessLevel = Globals.PageAccess(NavManager, "EmployeesDashboard");
        await GetAll();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        data = await Functions.GetAsync<List<EmployeesModel>>($"Employees/Search", true) ?? new List<EmployeesModel>();
        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<EmployeesModel>($"Employees/Get/{id}", true) ?? new EmployeesModel();
        LoadingPanel = false;
    }

    protected async Task Clear()
    {
        Action = "INSERT";
        record = new EmployeesModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Refresh()
    {
        await GetAll();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Get(id);
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        var result = await Functions.PostAsync<EmployeesModel>($"Employees/{Action}", record, true);
        if (result.Success == true)
        {
            SnackbarService.Add($"Record Deleted Successfully", Severity.Success);
            if (Action?.Contains("delete", StringComparison.OrdinalIgnoreCase) == false) await Edit(result.Result!.Id);
        }
        else
        {
            SnackbarService.Add($"Record Not Deleted", Severity.Error);
        }

        await GetAll();
        LoadingPanel = false;
        await _drawer.CloseDrawerAsync();

    }

}