@page "/ScannerDevicesDashboard"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService
@inject Functions Functions
@inject Globals Globals

<Loading IsLoading="@LoadingPanel" />

<div class="row" style="margin: 2px; height: 90vh; display: flex;">
    <MyDrawer @ref="_drawer" Title="Security Scanners" FaIcon="fas fa-fingerprint" >
        <HeaderContent>
        </HeaderContent>
        <ChildContent>
            <EditForm Model="record" OnSubmit="Save">
                <MudForm>
                    <ScannerDevicesPage Action="@Action" CurrentRecord="record.Id" OnSaved="ChildSaved"/>
                </MudForm>
            </EditForm>
        </ChildContent>
        <FooterContent>
        </FooterContent>
    </MyDrawer>

    @if (data == null)
    {
        <SimpleLoading />
    }
    else
    {
        <div class="row">
            <MudDataGrid T="ScannerDevicesModel"
                         MultiSelection="false"
                         Items="@data"
                         SortMode="SortMode.Multiple"
                         Filterable="true"
                         Hideable="true"
                         RowsPerPage="10"
                         Dense="true"
                         Striped="true"
                         Class="professional-grid elevation-8">

                <ToolBarContent>
                    <div class="grid-toolbar-wrapper">
                        <div class="grid-toolbar">
                            <div class="toolbar-left">
                                <MudIcon Icon="@Icons.Material.Filled.Scanner" Class="toolbar-icon" />
                                <MudText Typo="Typo.h6" Class="toolbar-title">
                                    Scanner Devices Management
                                </MudText>
                            </div>

                            <div class="toolbar-right">
                                @if (Globals.AccessLevel == 1)
                                {
                                    <MudButton StartIcon="@Icons.Material.TwoTone.Add"
                                               Size="MudBlazor.Size.Small"
                                               Variant="Variant.Filled"
                                               Color="Color.Success"
                                               Class="action-btn new-btn"
                                               OnClick="@(() => Clear())">
                                        New Scanner
                                    </MudButton>
                                }

                                <MudButton StartIcon="@Icons.Material.TwoTone.Refresh"
                                           Size="MudBlazor.Size.Small"
                                           Variant="Variant.Filled"
                                           Color="Color.Info"
                                           Class="action-btn refresh-btn"
                                           OnClick="@(() => Refresh())">
                                    Refresh
                                </MudButton>
                            </div>
                        </div>
                    </div>
                </ToolBarContent>

                <Columns>
                    <TemplateColumn Title="Actions"
                                    CellStyle="width: 80px; min-width: 80px;"
                                    HeaderClass="grid-header">
                        <CellTemplate Context="row">
                            <div class="actions-cell">
                                <MudMenu Icon="@Icons.Material.Filled.MoreVert"
                                         Color="Color.Primary"
                                         Dense="true"
                                         Class="actions-menu">
                                    <MudMenuItem OnClick="@(() => View(row.Item.Id))"
                                                 Class="menu-item view-item">
                                        <MudIcon Icon="@Icons.Material.Filled.Visibility" Class="menu-icon" />
                                        <span>View Details</span>
                                    </MudMenuItem>
                                    @if (Globals.AccessLevel == 1)
                                    {
                                        <MudMenuItem OnClick="@(() => Edit(row.Item.Id))"
                                                     Class="menu-item edit-item">
                                            <MudIcon Icon="@Icons.Material.Filled.Edit" Class="menu-icon" />
                                            <span>Edit</span>
                                        </MudMenuItem>
                                        <MudMenuItem OnClick="@(() => Delete(row.Item.Id))"
                                                     Color="Color.Error"
                                                     Class="menu-item delete-item">
                                            <MudIcon Icon="@Icons.Material.Filled.Delete" Class="menu-icon" />
                                            <span>Delete</span>
                                        </MudMenuItem>
                                    }
                                </MudMenu>
                            </div>
                        </CellTemplate>
                    </TemplateColumn>

                    <PropertyColumn Property="x => x.DeviceIpAddress"
                                    Title="IP Address"
                                    Sortable="true"
                                    Filterable="true"
                                    HeaderClass="grid-header"
                                    CellClass="grid-cell" />

                    <PropertyColumn Property="x => x.UserName"
                                    Title="Username"
                                    Sortable="true"
                                    Filterable="true"
                                    HeaderClass="grid-header"
                                    CellClass="grid-cell" />

                    <PropertyColumn Property="x => x.LocationName"
                                    Title="Location"
                                    Sortable="true"
                                    Filterable="true"
                                    HeaderClass="grid-header"
                                    CellClass="grid-cell" />

                    <PropertyColumn Property="x => x.Make"
                                    Title="Make"
                                    Sortable="true"
                                    Filterable="true"
                                    HeaderClass="grid-header"
                                    CellClass="grid-cell" />

                    <PropertyColumn Property="x => x.Model"
                                    Title="Model"
                                    Sortable="true"
                                    Filterable="true"
                                    HeaderClass="grid-header"
                                    CellClass="grid-cell" />

                    <PropertyColumn Property="x => x.Serial"
                                    Title="Serial No"
                                    Sortable="true"
                                    Filterable="true"
                                    HeaderClass="grid-header"
                                    CellClass="grid-cell" />

                    <TemplateColumn Title="Type"
                                    CellStyle="width: 80px; min-width: 80px;"
                                    HeaderClass="grid-header"
                                    CellClass="grid-cell">
                        <CellTemplate Context="row">
                            @{
                                var typeChipColor = row.Item.InOutAll?.ToLower() switch
                                {
                                    "in" => MudBlazor.Color.Info,
                                    "out" => MudBlazor.Color.Warning,
                                    "all" => MudBlazor.Color.Success,
                                    _ => MudBlazor.Color.Default
                                };
                            }
                            <MudChip Color="@typeChipColor" Size="Size.Small" Variant="Variant.Filled">
                                @row.Item.InOutAll
                            </MudChip>
                        </CellTemplate>
                    </TemplateColumn>

                    <TemplateColumn Title="Status"
                                    CellStyle="width: 70px; min-width: 70px;"
                                    HeaderClass="grid-header"
                                    CellClass="grid-cell">
                        <CellTemplate Context="row">
                            @if (row.Item.IsActive == 1)
                            {
                                <MudChip Color="Color.Success" Size="Size.Small" Variant="Variant.Filled">Active</MudChip>
                            }
                            else
                            {
                                <MudChip Color="Color.Error" Size="Size.Small" Variant="Variant.Filled">Locked</MudChip>
                            }
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>

                <PagerContent>
                    <div class="pager-container">
                        <MudDataGridPager T="ScannerDevicesModel" Class="grid-pager" />
                    </div>
                </PagerContent>

            </MudDataGrid>
        </div>
    }
</div>

@code
{
    List<ScannerDevicesModel> data = new();
    ScannerDevicesModel record = new();

    public string? Action { get; set; } = "INSERT";

    bool isReadOnly = true;
    
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        Globals.AccessLevel = Globals.PageAccess(NavManager, "ScannerDevicesDashboard");
        await GetAll();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        data = await Functions.GetAsync<List<ScannerDevicesModel>>($"ScannerDevices/Search", true) ?? new List<ScannerDevicesModel>();
        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<ScannerDevicesModel>($"ScannerDevices/Get/{id}", true) ?? new ScannerDevicesModel();
        LoadingPanel = false;
    }

    protected async Task Clear()
    {
        Action = "INSERT";
        record = new ScannerDevicesModel();
        record.IsActive = 1;
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Refresh()
    {
        await GetAll();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE"; 
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete(int id)
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Get(id);
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;
         
        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Globals.ClientInfo;
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Globals.ClientInfo;

        var result = await Functions.PostAsync<ScannerDevicesModel>($"ScannerDevices/{Action}", record, true);
        if (result.Success == true)
        {
            SnackbarService.Add($"Record Deleted Successfully", Severity.Success);
            if (Action?.Contains("delete", StringComparison.OrdinalIgnoreCase) == false) await Edit(result.Result!.Id);
        }
        else
        {
            SnackbarService.Add($"Record Not Deleted", Severity.Error);
        }
    
        await GetAll();
        LoadingPanel = false;
        await _drawer.CloseDrawerAsync();
     
    }

    private async Task ChildSaved()
    {
        await GetAll();
        await _drawer.CloseDrawerAsync();
        StateHasChanged();
    }

}

