@page "/ChargeRulesPage/{Action}/{CurrentRecord?}"

@inject IJSRuntime JSRuntime
@inject IDialogService dialogService
@inject NavigationManager NavManager
@inject ISnackbar SnackbarService

<Loading IsLoading="@LoadingPanel" />

<div class="d-flex flex-column" style="margin: 5px; height: 80vh;">

    <div class="text-end" style="margin-top:10px;">
        @if (Action != "VIEW")
        {
            <MudButton Variant="Variant.Filled" OnClick="Save" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                <MudIcon Icon="@Icons.Material.Filled.Save" Class="mr-1" />
                @(Action == "INSERT" ? "Save" : "Update")
            </MudButton>

            @if (Action == "UPDATE")
            {
                <MudButton Variant="Variant.Filled" OnClick="Delete" Class="px-2 py-2 mt-1 mr-2" Style="height:40px;">
                    <MudIcon Icon="@Icons.Material.Filled.Delete" Class="mr-1" />
                    Delete
                </MudButton>
            }
        }
    </div>

    <br />

    <MudExpansionPanels MultiExpansion="true">
        <MudExpansionPanel Text="Basic Details" Expanded=true Style="margin-bottom:10px;">

            <TitleContent>
                <div class="d-flex align-items-center p-2 rounded shadow-sm" style="gap: 10px;">
                    
                    <div class="ms-2">
                        <MudText Typo="Typo.h6" Class="fw-bold text-dark">@record.RuleName</MudText>
                    </div>
                </div>
            </TitleContent>

            <ChildContent>
                <div class="row" style="width:100%; display: flex;">
                    <div class="col-6 flex-input">
                        <label class="form-label">Rule Name</label>
                        <MudTextField id="Rule Name" @bind-Value="record.RuleName" placeholder="RuleName" ReadOnly="@isReadOnly"></MudTextField>
                        <ValidationMessage For="@(() => record.RuleName)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Rule Type</label>

                        <MudSelect T="string"
                                   @bind-Value="record.RuleType"
                                   Placeholder="Rule Type"
                                  Clearable="true">

                            @if (Rul != null && Rul.Any())
                            {
                                if (string.IsNullOrWhiteSpace(record.RuleType))
                                {
                                    record.RuleType = Rul.First().ListValue;
                                }

                                foreach (var i in Rul)
                                {
                                    <MudSelectItem T="string" Value="@i.ListValue">@i.ListValue</MudSelectItem>
                                }
                            }
                        </MudSelect>

                        <ValidationMessage For="@(() => record.RuleType)" />
                    </div>

                    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-bottom: 10px;">
                        <!-- Left Column, Row 1 -->
                        <div style="background-color: rgba(128, 128, 128, 0.15); border:1px solid gray; border-radius: 5px; padding: 10px; font-size:12px;">
                            <label class="form-label">Type</label>
                            <MudRadioGroup T="string"
                                           Label="Type"
                                           @bind-SelectedOption="record.AmountType"
                                           Row="true">
                                <MudRadio T="string" Option="PERCENTAGE" >PERCENTAGE</MudRadio>
                                <MudRadio T="string" Option="FLAT">FLAT</MudRadio>
                            </MudRadioGroup>
                            <ValidationMessage For="@(() => record.AmountType)" />
                        </div>

                        <!-- Right Column, Spans 2 Rows -->
                        <div style="background-color: rgba(128, 128, 128, 0.15); border:1px solid gray; border-radius: 5px; padding: 10px; font-size:12px;">
                            <label class="form-label">Calculation Base</label>
                            <MudRadioGroup T="string"
                                           Label="Calculation Base"
                                           @bind-SelectedOption="record.CalculationBase"
                                           Row="true">
                                <MudRadio T="string" Option="BILLED_AMOUNT">BILLED_AMOUNT</MudRadio>
                                <MudRadio T="string" Option="AFTER_PREVIOUS_CHARGES">AFTER_PREVIOUS_CHARGES</MudRadio>
                            </MudRadioGroup>
                            <ValidationMessage For="@(() => record.CalculationBase)" />
                        </div>

                        <!-- Left Column, Row 2 -->
                        <div style="background-color: rgba(128, 128, 128, 0.15); border:1px solid gray; border-radius: 5px; padding: 10px; font-size:12px;">
                            <label class="form-label">Charge Category</label>
                            <MudRadioGroup T="string"
                                           Label="Charge Category"
                                           @bind-SelectedOption="record.ChargeCategory"
                                           Row="true">
                                <MudRadio T="string" Option="SERVICE">SERVICE</MudRadio>
                                <MudRadio T="string" Option="TAX">TAX</MudRadio>
                            </MudRadioGroup>
                            <ValidationMessage For="@(() => record.ChargeCategory)" />
                        </div>
                    </div>


                    <div class="col-6 flex-input">
                        <label class="form-label">Amount</label>
                        <MudNumericField @bind-Value="record.Amount" placeholder="Amount" ReadOnly="@isReadOnly" Format="#,##0.00"></MudNumericField>
                        <ValidationMessage For="@(() => record.Amount)" />
                    </div>

                    <div class="col-6 flex-input">
                        <label class="form-label">Sequence</label>
                        <MudNumericField @bind-Value="record.SequenceOrder" placeholder="Sequence Order" ReadOnly="@isReadOnly" Format="#,##0.00"></MudNumericField>
                        <ValidationMessage For="@(() => record.SequenceOrder)" />
                    </div>

                    <div class="col-6 flex-input">
                        <label class="form-label">Effective From</label>
                        <MudDatePicker @bind-Value="record.EffectiveFrom" Format="yyyy-MM-dd" placeholder="Effective From" ReadOnly="@isReadOnly"></MudDatePicker>
                        <ValidationMessage For="@(() => record.EffectiveFrom)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Effective To</label>
                        <MudDatePicker @bind-Value="record.EffectiveTo" Format="yyyy-MM-dd" placeholder="Effective To" ReadOnly="@isReadOnly"></MudDatePicker>
                        <ValidationMessage For="@(() => record.EffectiveTo)" />
                    </div>
                    <div class="col-6 flex-input">
                        <label class="form-label">Active</label>

                        <MudSelect T="int"
                                   @bind-Value="record.IsActive"
                               Placeholder="Active"
                                Clearable="true">

                            @if (record.IsActive != 0 && record.IsActive != 1)
                            {
                                record.IsActive = 1;
                            }

                            <MudSelectItem T="int" Value="1">Enable</MudSelectItem>
                            <MudSelectItem T="int" Value="0">Disable</MudSelectItem>
                        </MudSelect>

                        <ValidationMessage For="@(() => record.IsActive)" />
                    </div>
                </div>
            </ChildContent>

        </MudExpansionPanel>
    </MudExpansionPanels>

</div>

@code
{
    static ChargeRulesModel record = new();
    List<TypeCodeModel> Rul = null!;


    [Parameter] public string Action { get; set; } = "INSERT";
    [Parameter] public int CurrentRecord { get; set; } = 0;

    bool isReadOnly = true;
    private bool LoadingPanel { get; set; } = false;
    private MyDrawer _drawer = new();

    protected override async Task OnInitializedAsync()
    {
        await GetAll();
    }

    protected async Task GetAll()
    {
        LoadingPanel = true;
        Rul = await Functions.GetAsync<List<TypeCodeModel>>($"TypeCode/Search/CHARGE RULE TYPE", true) ?? new List<TypeCodeModel>();

        if (Action == "INSERT")
        {
            Clear();
            record.IsActive = 1;
            isReadOnly = false;
        }
        else
        {
            await Get(CurrentRecord);
        }

        LoadingPanel = false;
    }

    protected async Task Get(int id)
    {
        LoadingPanel = true;
        record = await Functions.GetAsync<ChargeRulesModel>($"ChargeRules/Get?Id={id}", true) ?? new ChargeRulesModel();
        LoadingPanel = false;
    }

    protected async void Clear()
    {
        Action = "INSERT";
        record = new ChargeRulesModel();
        record.IsActive = 1;
        record.AmountType ??= "PERCENTAGE";
        record.CalculationBase ??= "BILLED_AMOUNT";
        record.ChargeCategory ??= "SERVICE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task View(int id)
    {
        await Get(id);
        Action = "VIEW";
        isReadOnly = true;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Edit(int id)
    {
        await Get(id);
        Action = "UPDATE";
        isReadOnly = false;
        await _drawer.OpenDrawerAsync();
    }

    protected async Task Delete()
    {
        var res = await Functions.ShowConfirmation(dialogService, "Do you want to delete existing record?");
        if (res == false)
            return;

        Action = "SOFTDELETE";
        await Save();
    }

    protected async Task Save()
    {
        LoadingPanel = true;

        record.OrganizationId = Globals.User.OrganizationId;
        record.CreatedBy = Globals.User.Id;
        record.CreatedOn = DateTime.Now;
        record.CreatedFrom = Functions.GetComputerDetails();
        record.UpdatedBy = Globals.User.Id;
        record.UpdatedOn = DateTime.Now;
        record.UpdatedFrom = Functions.GetComputerDetails();

        string url = char.ToUpper(Action[0]) + Action.Substring(1).ToLower();
        var result = await Functions.PostAsync<ChargeRulesModel>($"ChargeRules/{url}", record, true);
        if (result.Success == false)
        {
            await Functions.ShowMessage(dialogService, "error", $"Record Not Saved");
        }
        else
        {
            await Functions.ShowMessage(dialogService, "success", $"Record {Action} Successfully");
            record = new();
            isReadOnly = true;
        }

        LoadingPanel = false;
        await _drawer.CloseDrawer();

    }
}

